@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,500;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700;900&family=Roboto:ital,wght@0,500;0,700;1,100;1,300&display=swap");
body .container-fluid {
  padding: 0;
  margin: 0; }
  body .container-fluid .navbar {
    width: 100%;
    padding: 23px 217px 23px 218px; }
    @media (max-width: 576px) {
      body .container-fluid .navbar {
        padding: 15px 25px;
        justify-content: space-between; } }
    @media (max-width: 768px) {
      body .container-fluid .navbar {
        padding: 20px 30px; } }
    @media (min-width: 768px) and (max-width: 992px) {
      body .container-fluid .navbar {
        padding: 20px 35px; } }
    @media (min-width: 992px) and (max-width: 1200px) {
      body .container-fluid .navbar {
        padding: 25px;
        display: flex;
        align-items: center; } }
    @media (max-width: 1400px) and (min-width: 1200px) {
      body .container-fluid .navbar {
        padding: 25px 30px; } }
    body .container-fluid .navbar .navbar-brand {
      display: flex;
      align-items: center; }
      body .container-fluid .navbar .navbar-brand img {
        width: 76px;
        height: 76px; }
        @media (max-width: 576px) {
          body .container-fluid .navbar .navbar-brand img {
            width: 50px;
            height: 50px; } }
        @media (max-width: 768px) {
          body .container-fluid .navbar .navbar-brand img {
            width: 50px;
            height: 50px; } }
        @media (min-width: 768px) and (max-width: 992px) {
          body .container-fluid .navbar .navbar-brand img {
            width: 60px;
            height: 60px; } }
      body .container-fluid .navbar .navbar-brand .navbar-text {
        margin-left: 11px; }
        body .container-fluid .navbar .navbar-brand .navbar-text h5 {
          font-family: Roboto;
          font-style: normal;
          font-weight: 500;
          font-size: 20px;
          line-height: 116.4%;
          text-transform: uppercase;
          color: #4883A5; }
          @media (max-width: 576px) {
            body .container-fluid .navbar .navbar-brand .navbar-text h5 {
              font-size: 10px; } }
          @media (max-width: 768px) {
            body .container-fluid .navbar .navbar-brand .navbar-text h5 {
              font-size: 15px; } }
          @media (min-width: 768px) and (max-width: 992px) {
            body .container-fluid .navbar .navbar-brand .navbar-text h5 {
              font-size: 18px; } }
        body .container-fluid .navbar .navbar-brand .navbar-text h4 {
          font-family: Roboto;
          font-style: normal;
          font-weight: 900;
          font-size: 20px;
          line-height: 116.4%;
          text-transform: uppercase;
          color: #4883A5; }
          @media (max-width: 576px) {
            body .container-fluid .navbar .navbar-brand .navbar-text h4 {
              font-size: 10px; } }
          @media (max-width: 768px) {
            body .container-fluid .navbar .navbar-brand .navbar-text h4 {
              font-size: 15px; } }
          @media (min-width: 768px) and (max-width: 992px) {
            body .container-fluid .navbar .navbar-brand .navbar-text h4 {
              font-size: 18px; } }
    @media (max-width: 576px) {
      body .container-fluid .navbar .menu-btn {
        width: 25px;
        height: 25px;
        background-image: url("../assets/icons/round_hamburger_menu_burger_icon_132782.svg");
        background-repeat: no-repeat;
        background-size: cover;
        cursor: pointer; } }
    @media (max-width: 768px) and (min-width: 576px) {
      body .container-fluid .navbar .menu-btn {
        width: 30px;
        height: 30px;
        background-image: url("../assets/icons/round_hamburger_menu_burger_icon_132782.svg");
        background-size: cover;
        background-repeat: no-repeat;
        cursor: pointer; } }
    @media (min-width: 768px) and (max-width: 992px) {
      body .container-fluid .navbar .menu-btn {
        width: 30px;
        height: 30px;
        background-image: url("../assets/icons/round_hamburger_menu_burger_icon_132782.svg");
        background-size: cover;
        background-repeat: no-repeat;
        cursor: pointer; } }
    @media (max-width: 576px) {
      body .container-fluid .navbar .nav {
        display: none; }
        body .container-fluid .navbar .nav.active {
          display: flex;
          width: 250px;
          min-height: 100%;
          flex-direction: column;
          z-index: 999;
          position: absolute;
          top: 117px;
          right: 0;
          align-items: center;
          background-color: #FFFFFF;
          flex-wrap: nowrap;
          padding: 10px;
          box-sizing: border-box; }
          body .container-fluid .navbar .nav.active .nav-text1 {
            flex-direction: column !important; }
            body .container-fluid .navbar .nav.active .nav-text1 .nav-item {
              margin-bottom: 10px; }
          body .container-fluid .navbar .nav.active .nav-text2 {
            flex-direction: column; }
            body .container-fluid .navbar .nav.active .nav-text2 .nav-item {
              margin-bottom: 10px; }
          body .container-fluid .navbar .nav.active .nav-text3 {
            flex-direction: column; }
            body .container-fluid .navbar .nav.active .nav-text3 .nav-item {
              margin-bottom: 10px; } }
    @media (max-width: 768px) and (min-width: 576px) {
      body .container-fluid .navbar .nav {
        display: none; } }
    @media (min-width: 768px) and (max-width: 992px) {
      body .container-fluid .navbar .nav {
        display: none; } }
    body .container-fluid .navbar .nav .nav-text1 .nav-item .nav-link {
      font-family: Roboto;
      font-style: normal;
      font-weight: 300;
      font-size: 18px;
      line-height: 94.69%;
      text-align: center;
      color: #535C6D; }
      @media (max-width: 1400px) and (min-width: 1200px) {
        body .container-fluid .navbar .nav .nav-text1 .nav-item .nav-link {
          padding: 10px !important; } }
      @media (min-width: 1200px) {
        body .container-fluid .navbar .nav .nav-text1 .nav-item .nav-link {
          width: 100%; } }
    body .container-fluid .navbar .nav .nav-text2 .nav-item .nav-link {
      font-family: Roboto;
      font-style: normal;
      font-weight: 300;
      font-size: 18px;
      line-height: 94.69%;
      text-align: center;
      color: #535C6D; }
    body .container-fluid .navbar .nav .nav-text3 .nav-item .nav-link {
      font-family: Roboto;
      font-style: normal;
      font-weight: 300;
      font-size: 18px;
      line-height: 94.69%;
      text-align: center;
      color: #535C6D;
      text-transform: capitalize; }
      @media (min-width: 1049px) and (max-width: 1200px) {
        body .container-fluid .navbar .nav .nav-text3 .nav-item .nav-link {
          padding: 10px; } }
  body .container-fluid .navbar-menus.navbar-expand-sm {
    padding: 30px 217px;
    background: #535C6D;
    width: 100%;
    height: 106px;
    display: block; }
    @media (max-width: 576px) {
      body .container-fluid .navbar-menus.navbar-expand-sm {
        display: none; } }
    @media (min-width: 576px) and (max-width: 768px) {
      body .container-fluid .navbar-menus.navbar-expand-sm {
        display: none; } }
    @media (max-width: 992px) and (min-width: 768px) {
      body .container-fluid .navbar-menus.navbar-expand-sm {
        display: none; } }
    @media (min-width: 992px) and (max-width: 1200px) {
      body .container-fluid .navbar-menus.navbar-expand-sm {
        display: block;
        padding: 25px; } }
    body .container-fluid .navbar-menus.navbar-expand-sm .nav {
      width: 100%;
      justify-content: space-between; }
      @media (min-width: 992px) and (max-width: 1200px) {
        body .container-fluid .navbar-menus.navbar-expand-sm .nav {
          justify-content: start; } }
      body .container-fluid .navbar-menus.navbar-expand-sm .nav .nav-item {
        z-index: 999 !important;
        position: relative !important;
        height: 76px; }
        @media (min-width: 992px) and (max-width: 1200px) {
          body .container-fluid .navbar-menus.navbar-expand-sm .nav .nav-item {
            padding: 10px; } }
        body .container-fluid .navbar-menus.navbar-expand-sm .nav .nav-item .nav-link {
          font-family: Montserrat;
          font-style: normal;
          font-weight: 500;
          font-size: 20px;
          line-height: 22px;
          text-transform: capitalize;
          color: #FFFFFF;
          padding: 10px;
          height: 100%; }
          @media (min-width: 992px) and (max-width: 1200px) {
            body .container-fluid .navbar-menus.navbar-expand-sm .nav .nav-item .nav-link {
              font-size: 14px !important; } }
        body .container-fluid .navbar-menus.navbar-expand-sm .nav .nav-item .nav {
          flex-direction: column;
          background: rgba(27, 96, 225, 0.8);
          backdrop-filter: blur(4px);
          padding: 15px;
          position: absolute;
          width: 320px;
          top: 76px;
          display: none; }
          body .container-fluid .navbar-menus.navbar-expand-sm .nav .nav-item .nav .nav-item {
            border-bottom: 0.5px solid rgba(255, 255, 255, 0.55);
            height: 100%; }
            body .container-fluid .navbar-menus.navbar-expand-sm .nav .nav-item .nav .nav-item .nav-link {
              font-family: Montserrat;
              font-style: normal;
              font-weight: 500;
              font-size: 18px;
              line-height: 22px;
              text-transform: capitalize;
              color: #FFFFFF;
              width: 100% !important; }
        body .container-fluid .navbar-menus.navbar-expand-sm .nav .nav-item:hover .nav {
          display: flex; }
      body .container-fluid .navbar-menus.navbar-expand-sm .nav .nav-item:nth-child(7) {
        z-index: 999 !important;
        position: relative !important;
        height: 76px; }
        body .container-fluid .navbar-menus.navbar-expand-sm .nav .nav-item:nth-child(7) .nav-link {
          font-family: Montserrat;
          font-style: normal;
          font-weight: 500;
          font-size: 20px;
          line-height: 22px;
          text-transform: capitalize;
          color: #FFFFFF;
          padding: 10px;
          height: 100%; }
        body .container-fluid .navbar-menus.navbar-expand-sm .nav .nav-item:nth-child(7) .nav {
          flex-direction: column;
          background: rgba(27, 96, 225, 0.8);
          backdrop-filter: blur(4px);
          padding: 15px;
          position: absolute;
          width: 320px;
          top: 76px;
          display: none;
          right: 0; }
          body .container-fluid .navbar-menus.navbar-expand-sm .nav .nav-item:nth-child(7) .nav .nav-item {
            border-bottom: 0.5px solid rgba(255, 255, 255, 0.55);
            height: 100%; }
            body .container-fluid .navbar-menus.navbar-expand-sm .nav .nav-item:nth-child(7) .nav .nav-item .nav-link {
              font-family: Montserrat;
              font-style: normal;
              font-weight: 500;
              font-size: 18px;
              line-height: 22px;
              text-transform: capitalize;
              color: #FFFFFF;
              width: 100% !important; }
        body .container-fluid .navbar-menus.navbar-expand-sm .nav .nav-item:nth-child(7):hover .nav {
          display: flex; }
  body .container-fluid .navbar-menus {
    display: none; }
  body .container-fluid .body {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative; }
    body .container-fluid .body .body-content {
      background-image: url("../assets/image/samrgand.png");
      background-repeat: no-repeat;
      background-size: cover;
      position: relative;
      width: 100%;
      height: 508px;
      opacity: 0.3; }
      @media (max-width: 576px) {
        body .container-fluid .body .body-content {
          width: 100%;
          height: 136px;
          background-position: center; } }
      @media (max-width: 768px) and (min-width: 576px) {
        body .container-fluid .body .body-content {
          width: 100%;
          height: 167px; } }
      @media (min-width: 768px) and (max-width: 992px) {
        body .container-fluid .body .body-content {
          width: 100%;
          height: 224px; } }
      @media (max-width: 1200px) and (min-width: 992px) {
        body .container-fluid .body .body-content {
          width: 100%;
          height: 307px; } }
      @media (max-width: 1400px) and (min-width: 1200px) {
        body .container-fluid .body .body-content {
          width: 100%;
          height: 351px; } }
    body .container-fluid .body .body-title {
      position: absolute;
      top: 198px;
      left: 235px; }
      @media (max-width: 576px) {
        body .container-fluid .body .body-title {
          top: 50px;
          left: 60px; } }
      @media (max-width: 768px) and (min-width: 576px) {
        body .container-fluid .body .body-title {
          top: 60px;
          left: 60px;
          position: absolute; } }
      @media (min-width: 768px) and (max-width: 992px) {
        body .container-fluid .body .body-title {
          top: 79px;
          left: 100px; } }
      @media (max-width: 1200px) and (min-width: 992px) {
        body .container-fluid .body .body-title {
          top: 125px;
          left: 140px; } }
      @media (max-width: 1400px) and (min-width: 1200px) {
        body .container-fluid .body .body-title {
          top: 130px;
          left: 150px; } }
      body .container-fluid .body .body-title h4 {
        font-family: Roboto;
        font-style: normal;
        font-weight: 900;
        font-size: 32px;
        line-height: 139.9%;
        text-transform: uppercase;
        color: #51596A; }
        @media (max-width: 576px) {
          body .container-fluid .body .body-title h4 {
            font-size: 10px; } }
        @media (max-width: 768px) and (min-width: 576px) {
          body .container-fluid .body .body-title h4 {
            font-size: 13px; } }
        @media (min-width: 768px) and (max-width: 992px) {
          body .container-fluid .body .body-title h4 {
            font-size: 15px; } }
        @media (max-width: 1200px) and (min-width: 992px) {
          body .container-fluid .body .body-title h4 {
            font-size: 20px; } }
        @media (max-width: 1400px) and (min-width: 1200px) {
          body .container-fluid .body .body-title h4 {
            font-size: 25px; } }
  body .container-fluid .body-map .row {
    margin-top: 33px;
    width: 100%;
    margin-bottom: 76px; }
    @media (max-width: 576px) {
      body .container-fluid .body-map .row {
        width: 100%;
        padding: 0;
        margin: 0; } }
    @media (max-width: 768px) and (min-width: 576px) {
      body .container-fluid .body-map .row {
        width: 100%;
        padding: 0;
        margin: 0; } }
    @media (min-width: 768px) and (max-width: 992px) {
      body .container-fluid .body-map .row {
        width: 100%;
        padding: 0;
        margin: 0; } }
    @media (max-width: 1200px) and (min-width: 992px) {
      body .container-fluid .body-map .row {
        width: 100%;
        padding: 0;
        margin: 22px 0 22px 0; } }
    @media (max-width: 1400px) and (min-width: 1200px) {
      body .container-fluid .body-map .row {
        width: 100%;
        padding: 0;
        margin: 33px 0; } }
    @media (max-width: 576px) {
      body .container-fluid .body-map .row .col-9 {
        max-width: 100% !important; } }
    @media (max-width: 768px) {
      body .container-fluid .body-map .row .col-9 {
        max-width: 100%; } }
    @media (min-width: 768px) and (max-width: 992px) {
      body .container-fluid .body-map .row .col-9 {
        width: 100%; } }
    body .container-fluid .body-map .row .col-9 .card {
      padding: 78px 75px;
      background: #EBF1F4;
      border-radius: 16px;
      border: 0;
      position: relative; }
      @media (max-width: 576px) {
        body .container-fluid .body-map .row .col-9 .card {
          padding: 20px;
          margin-top: 22px; } }
      @media (max-width: 768px) and (min-width: 576px) {
        body .container-fluid .body-map .row .col-9 .card {
          padding: 25px;
          margin-top: 22px; } }
      @media (min-width: 768px) and (max-width: 992px) {
        body .container-fluid .body-map .row .col-9 .card {
          width: 100%;
          padding: 25px;
          margin-top: 22px; } }
      @media (max-width: 1200px) and (min-width: 992px) {
        body .container-fluid .body-map .row .col-9 .card {
          padding: 40px; } }
      @media (min-width: 1200px) and (max-width: 1400px) {
        body .container-fluid .body-map .row .col-9 .card {
          padding: 70px; } }
      body .container-fluid .body-map .row .col-9 .card .card-header {
        background: transparent;
        border: 0; }
        body .container-fluid .body-map .row .col-9 .card .card-header h4 {
          font-family: Roboto;
          font-style: normal;
          font-weight: 500;
          font-size: 32px;
          line-height: 139.9%;
          text-transform: capitalize;
          color: #51596A;
          margin-bottom: 40px; }
          @media (max-width: 576px) {
            body .container-fluid .body-map .row .col-9 .card .card-header h4 {
              font-size: 20px;
              width: 100%; } }
          @media (max-width: 768px) and (min-width: 576px) {
            body .container-fluid .body-map .row .col-9 .card .card-header h4 {
              font-size: 25px; } }
          @media (min-width: 768px) and (max-width: 992px) {
            body .container-fluid .body-map .row .col-9 .card .card-header h4 {
              font-size: 30px; } }
        @media (max-width: 576px) {
          body .container-fluid .body-map .row .col-9 .card .card-header .body-text1 p {
            font-size: 15px; } }
        @media (max-width: 768px) and (min-width: 576px) {
          body .container-fluid .body-map .row .col-9 .card .card-header .body-text1 p {
            font-size: 15px; } }
        @media (max-width: 1200px) and (min-width: 992px) {
          body .container-fluid .body-map .row .col-9 .card .card-header .body-text1 p {
            font-size: 22px; } }
        @media (min-width: 1200px) and (max-width: 1400px) {
          body .container-fluid .body-map .row .col-9 .card .card-header .body-text1 p {
            font-size: 25px; } }
        body .container-fluid .body-map .row .col-9 .card .card-header .body-text1 img {
          width: 23px;
          height: 27px; }
          @media (max-width: 576px) {
            body .container-fluid .body-map .row .col-9 .card .card-header .body-text1 img {
              width: 20px !important; } }
        @media (max-width: 1049px) {
          body .container-fluid .body-map .row .col-9 .card .card-header .body-text2 p {
            font-size: 15px;
            width: 410px !important; } }
        @media (max-width: 768px) and (min-width: 576px) {
          body .container-fluid .body-map .row .col-9 .card .card-header .body-text2 p {
            font-size: 15px;
            width: 361px !important; } }
        @media (min-width: 768px) and (max-width: 992px) {
          body .container-fluid .body-map .row .col-9 .card .card-header .body-text2 p {
            width: 352px !important; } }
        @media (max-width: 1200px) and (min-width: 992px) {
          body .container-fluid .body-map .row .col-9 .card .card-header .body-text2 p {
            width: 410px !important;
            font-size: 22px; } }
        @media (min-width: 1200px) and (max-width: 1400px) {
          body .container-fluid .body-map .row .col-9 .card .card-header .body-text2 p {
            font-size: 25px;
            width: 413px !important; } }
        body .container-fluid .body-map .row .col-9 .card .card-header .body-text2 img {
          width: 24px;
          height: 34px; }
          @media (max-width: 576px) {
            body .container-fluid .body-map .row .col-9 .card .card-header .body-text2 img {
              width: 25px; } }
        @media (max-width: 576px) {
          body .container-fluid .body-map .row .col-9 .card .card-header .body-text3 p {
            font-size: 15px;
            width: 410px !important; } }
        @media (max-width: 768px) and (min-width: 576px) {
          body .container-fluid .body-map .row .col-9 .card .card-header .body-text3 p {
            font-size: 15px;
            width: 100%; } }
        @media (max-width: 1200px) and (min-width: 992px) {
          body .container-fluid .body-map .row .col-9 .card .card-header .body-text3 p {
            font-size: 22px; } }
        @media (min-width: 1200px) and (max-width: 1400px) {
          body .container-fluid .body-map .row .col-9 .card .card-header .body-text3 p {
            font-size: 25px; } }
        body .container-fluid .body-map .row .col-9 .card .card-header .body-text3 img {
          width: 26px;
          height: 26px; }
          @media (max-width: 576px) {
            body .container-fluid .body-map .row .col-9 .card .card-header .body-text3 img {
              width: 20px; } }
      body .container-fluid .body-map .row .col-9 .card .card-body {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative; }
        body .container-fluid .body-map .row .col-9 .card .card-body .map {
          background-image: url("../assets/image/map.png");
          background-repeat: no-repeat;
          background-size: cover;
          position: relative;
          width: 100%;
          height: 581px; }
          @media (max-width: 576px) {
            body .container-fluid .body-map .row .col-9 .card .card-body .map {
              width: 100%;
              max-height: 179px; } }
          @media (max-width: 768px) and (min-width: 576px) {
            body .container-fluid .body-map .row .col-9 .card .card-body .map {
              width: 100%;
              max-height: 193px; } }
          @media (min-width: 768px) and (max-width: 992px) {
            body .container-fluid .body-map .row .col-9 .card .card-body .map {
              width: 100%;
              height: 236px; } }
          @media (max-width: 1200px) and (min-width: 992px) {
            body .container-fluid .body-map .row .col-9 .card .card-body .map {
              width: 100%;
              max-height: 319px; } }
          @media (min-width: 1200px) and (max-width: 1400px) {
            body .container-fluid .body-map .row .col-9 .card .card-body .map {
              width: 100%;
              height: 349px; } }
        body .container-fluid .body-map .row .col-9 .card .card-body .map-search {
          position: absolute;
          top: 43px;
          left: 50px;
          display: flex;
          align-items: center; }
          body .container-fluid .body-map .row .col-9 .card .card-body .map-search .map-nav {
            width: 52px;
            height: 45px;
            background: white;
            box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.25);
            border-radius: 7px;
            display: flex;
            align-items: center;
            justify-content: center; }
            @media (max-width: 576px) {
              body .container-fluid .body-map .row .col-9 .card .card-body .map-search .map-nav {
                width: 30px;
                height: 30px;
                background-color: transparent; } }
            @media (max-width: 768px) and (min-width: 576px) {
              body .container-fluid .body-map .row .col-9 .card .card-body .map-search .map-nav {
                width: 35px;
                height: 35px; } }
            @media (max-width: 1200px) and (min-width: 992px) {
              body .container-fluid .body-map .row .col-9 .card .card-body .map-search .map-nav {
                width: 50px;
                height: 40px; } }
            body .container-fluid .body-map .row .col-9 .card .card-body .map-search .map-nav img {
              width: 18px;
              height: 18px; }
              @media (max-width: 576px) {
                body .container-fluid .body-map .row .col-9 .card .card-body .map-search .map-nav img {
                  width: 15px;
                  height: 15px; } }
              @media (max-width: 768px) and (min-width: 576px) {
                body .container-fluid .body-map .row .col-9 .card .card-body .map-search .map-nav img {
                  width: 20px;
                  height: 20px; } }
          body .container-fluid .body-map .row .col-9 .card .card-body .map-search .input-group {
            position: relative;
            margin-left: 24px; }
            @media (max-width: 576px) {
              body .container-fluid .body-map .row .col-9 .card .card-body .map-search .input-group {
                display: none !important; } }
            @media (max-width: 768px) and (min-width: 576px) {
              body .container-fluid .body-map .row .col-9 .card .card-body .map-search .input-group {
                display: none !important; } }
            @media (min-width: 768px) and (max-width: 992px) {
              body .container-fluid .body-map .row .col-9 .card .card-body .map-search .input-group {
                display: none !important; } }
            body .container-fluid .body-map .row .col-9 .card .card-body .map-search .input-group img {
              width: 26px;
              height: 26px;
              position: absolute;
              top: 10px;
              left: 21px;
              z-index: 888; }
              @media (max-width: 1200px) and (min-width: 992px) {
                body .container-fluid .body-map .row .col-9 .card .card-body .map-search .input-group img {
                  width: 20px;
                  height: 20px;
                  top: 12px; } }
            body .container-fluid .body-map .row .col-9 .card .card-body .map-search .input-group input {
              width: 290px;
              height: 45px;
              background: #FFFFFF;
              box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.25);
              border-radius: 7px 0 0 7px; }
              @media (max-width: 1200px) and (min-width: 992px) {
                body .container-fluid .body-map .row .col-9 .card .card-body .map-search .input-group input {
                  width: 200px;
                  height: 40px; } }
            body .container-fluid .body-map .row .col-9 .card .card-body .map-search .input-group .input-group-append {
              width: 124px;
              height: 45px;
              background: #FFBE16;
              box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.25);
              border-radius: 0px 7px 7px 0px;
              text-align: center; }
              @media (max-width: 1200px) and (min-width: 992px) {
                body .container-fluid .body-map .row .col-9 .card .card-body .map-search .input-group .input-group-append {
                  width: 85px;
                  height: 40px; } }
              body .container-fluid .body-map .row .col-9 .card .card-body .map-search .input-group .input-group-append .nav-link {
                font-family: Roboto;
                font-style: normal;
                font-weight: 300;
                font-size: 20px;
                width: 100%;
                line-height: 139.9%;
                letter-spacing: 0.01em;
                text-transform: capitalize;
                color: #000000; }
                @media (max-width: 1200px) and (min-width: 992px) {
                  body .container-fluid .body-map .row .col-9 .card .card-body .map-search .input-group .input-group-append .nav-link {
                    font-size: 17px; } }
        body .container-fluid .body-map .row .col-9 .card .card-body .card-increment {
          display: flex;
          flex-direction: column;
          justify-content: center;
          background: transparent;
          border: 0;
          position: absolute;
          top: 148px;
          left: 50px; }
          @media (max-width: 576px) {
            body .container-fluid .body-map .row .col-9 .card .card-body .card-increment {
              display: none; } }
          @media (max-width: 768px) and (min-width: 576px) {
            body .container-fluid .body-map .row .col-9 .card .card-body .card-increment {
              display: none !important; } }
          @media (min-width: 768px) and (max-width: 992px) {
            body .container-fluid .body-map .row .col-9 .card .card-body .card-increment {
              display: none; } }
          @media (max-width: 1200px) and (min-width: 992px) {
            body .container-fluid .body-map .row .col-9 .card .card-body .card-increment {
              top: 130px !important; } }
          @media (min-width: 1200px) and (max-width: 1400px) {
            body .container-fluid .body-map .row .col-9 .card .card-body .card-increment {
              top: 110px; } }
          body .container-fluid .body-map .row .col-9 .card .card-body .card-increment .increment {
            width: 45px;
            height: 45px;
            background: #FFFFFF;
            box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.25);
            border-radius: 7px;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer; }
            @media (max-width: 1200px) and (min-width: 992px) {
              body .container-fluid .body-map .row .col-9 .card .card-body .card-increment .increment {
                width: 45px;
                height: 40px; } }
            body .container-fluid .body-map .row .col-9 .card .card-body .card-increment .increment img {
              width: 18px;
              height: 18px; }
          body .container-fluid .body-map .row .col-9 .card .card-body .card-increment .line {
            width: 12px;
            height: 172px;
            background: #ffffff;
            border: 1px solid #A7A1A1;
            box-sizing: border-box;
            margin-left: 16px; }
            @media (max-width: 1200px) and (min-width: 992px) {
              body .container-fluid .body-map .row .col-9 .card .card-body .card-increment .line {
                height: 100px; } }
            @media (min-width: 1200px) and (max-width: 1400px) {
              body .container-fluid .body-map .row .col-9 .card .card-body .card-increment .line {
                height: 151px; } }
          body .container-fluid .body-map .row .col-9 .card .card-body .card-increment .line2 {
            width: 30px;
            height: 13px;
            margin-left: 6px;
            background: #FFFFFF;
            box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.25);
            border-radius: 3px;
            position: absolute; }
            @media (max-width: 1200px) and (min-width: 992px) {
              body .container-fluid .body-map .row .col-9 .card .card-body .card-increment .line2 {
                width: 25px;
                left: 10px; } }
          body .container-fluid .body-map .row .col-9 .card .card-body .card-increment .decremanet {
            width: 45px;
            height: 45px;
            background: #FFFFFF;
            box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.25);
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 7px;
            cursor: pointer; }
            @media (max-width: 1200px) and (min-width: 992px) {
              body .container-fluid .body-map .row .col-9 .card .card-body .card-increment .decremanet {
                width: 45px;
                height: 40px; } }
            body .container-fluid .body-map .row .col-9 .card .card-body .card-increment .decremanet img {
              width: 20px;
              height: 5px; }

/*# sourceMappingURL=citymap.css.map */
