@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,500;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700;900&family=Roboto:ital,wght@0,500;0,700;1,100;1,300&display=swap");
body .container-fluid {
  padding: 0; }
  body .container-fluid .navbar .container .navbar-brand {
    display: flex; }
    body .container-fluid .navbar .container .navbar-brand img {
      width: 70px;
      height: 70px; }
    body .container-fluid .navbar .container .navbar-brand .navbar-text h5 {
      font-family: Roboto;
      font-style: normal;
      font-weight: 500;
      font-size: 20px;
      line-height: 116.4%;
      text-transform: uppercase;
      color: #4883A5;
      margin-bottom: 0; }
    body .container-fluid .navbar .container .navbar-brand .navbar-text h4 {
      font-family: Roboto;
      font-style: normal;
      font-weight: 900;
      font-size: 20px;
      line-height: 116.4%;
      text-transform: uppercase;
      color: #4883A5; }
  body .container-fluid .navbar .container button {
    display: none; }
  body .container-fluid .navbar .container .nav .nav-text3 .nav-item .nav-link {
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 94.69%;
    text-transform: capitalize;
    color: #535C6D; }
  body .container-fluid .navbar-menus {
    background: #535C6D;
    height: 58px;
    width: 100%; }
    body .container-fluid .navbar-menus .container {
      height: 100%; }
      body .container-fluid .navbar-menus .container .nav {
        height: 100%;
        justify-content: space-between;
        align-content: center; }
        body .container-fluid .navbar-menus .container .nav .nav-item {
          position: relative;
          min-height: 100%;
          display: flex;
          align-items: center; }
          body .container-fluid .navbar-menus .container .nav .nav-item .nav-link {
            font-family: Roboto;
            font-style: normal;
            font-weight: normal;
            font-size: 18px;
            line-height: 21px;
            text-transform: capitalize;
            color: #FFFFFF; }
          body .container-fluid .navbar-menus .container .nav .nav-item .nav {
            display: none;
            width: 368px;
            background: rgba(27, 96, 225, 0.8);
            backdrop-filter: blur(4px);
            height: auto;
            flex-direction: column !important;
            z-index: 999;
            position: absolute;
            top: 58px;
            padding: 15px; }
            body .container-fluid .navbar-menus .container .nav .nav-item .nav .nav-item {
              border-bottom: 0.5px solid rgba(255, 255, 255, 0.55);
              width: 100%; }
              body .container-fluid .navbar-menus .container .nav .nav-item .nav .nav-item .nav-link {
                font-family: Montserrat;
                font-style: normal;
                font-weight: 500;
                font-size: 15px;
                line-height: 22px;
                text-transform: capitalize;
                color: #FFFFFF; }
          body .container-fluid .navbar-menus .container .nav .nav-item:hover .nav {
            display: flex; }
  body .container-fluid .navbar-submenus {
    display: none; }
  body .container-fluid .body {
    width: 100%;
    position: relative; }
    body .container-fluid .body .body-content {
      width: 100%;
      height: 350px;
      background-image: url("../assets/image/samarrrr.svg");
      background-repeat: no-repeat;
      background-size: cover;
      opacity: 0.2; }
    body .container-fluid .body .body-title {
      position: absolute;
      left: 205px;
      bottom: 107px; }
      body .container-fluid .body .body-title h4 {
        font-family: Robotot;
        font-style: normal;
        font-weight: 900;
        font-size: 32px;
        line-height: 139.9%;
        text-transform: uppercase;
        color: #51596A; }
  body .container-fluid .info-title .container .card {
    border: 0; }
    body .container-fluid .info-title .container .card .card-body p {
      margin-top: 54px;
      font-family: Roboto;
      font-style: normal;
      font-weight: 300;
      font-size: 22px;
      line-height: 139.9%;
      text-transform: capitalize;
      color: #51596A;
      text-align: justify; }
  body .container-fluid .body-map .container .row .col-12 .card {
    display: flex;
    flex-direction: row;
    border: 0; }
    body .container-fluid .body-map .container .row .col-12 .card .card-header {
      background: white; }
      body .container-fluid .body-map .container .row .col-12 .card .card-header h4 {
        font-family: Roboto;
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 139.9%;
        text-transform: capitalize;
        color: #51596A;
        margin-bottom: 69px; }
      body .container-fluid .body-map .container .row .col-12 .card .card-header .body-text1 img {
        width: 20px;
        height: 20px; }
      body .container-fluid .body-map .container .row .col-12 .card .card-header .body-text1 p {
        font-family: Roboto;
        font-style: normal;
        font-weight: 300;
        font-size: 15px;
        line-height: 139.9%;
        letter-spacing: 0.01em;
        text-transform: capitalize;
        color: #51596A; }
      body .container-fluid .body-map .container .row .col-12 .card .card-header .body-text2 img {
        width: 20px;
        height: 20px; }
      body .container-fluid .body-map .container .row .col-12 .card .card-header .body-text2 p {
        font-family: Roboto;
        font-style: normal;
        font-weight: 300;
        font-size: 15px;
        line-height: 139.9%;
        letter-spacing: 0.01em;
        text-transform: capitalize;
        color: #51596A;
        width: 225px !important; }
      body .container-fluid .body-map .container .row .col-12 .card .card-header .body-text3 img {
        width: 20px;
        height: 20px; }
      body .container-fluid .body-map .container .row .col-12 .card .card-header .body-text3 p {
        font-family: Roboto;
        font-style: normal;
        font-weight: 300;
        font-size: 15px;
        line-height: 139.9%;
        letter-spacing: 0.01em;
        text-transform: capitalize;
        color: #51596A; }
    body .container-fluid .body-map .container .row .col-12 .card .card-body {
      position: relative; }
      body .container-fluid .body-map .container .row .col-12 .card .card-body .map {
        width: 650px;
        height: 310px;
        background-image: url("../assets/image/map.png");
        background-size: cover;
        background-repeat: no-repeat; }
      body .container-fluid .body-map .container .row .col-12 .card .card-body .map-search {
        display: flex;
        align-items: center;
        position: absolute;
        top: 35px;
        left: 40px; }
        body .container-fluid .body-map .container .row .col-12 .card .card-body .map-search .map-nav {
          width: 40px;
          height: 38px;
          background: white;
          box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.25);
          border-radius: 7px;
          display: flex;
          align-items: center;
          justify-content: center; }
        body .container-fluid .body-map .container .row .col-12 .card .card-body .map-search .input-group {
          width: 350px;
          position: relative;
          margin-left: 20px; }
          body .container-fluid .body-map .container .row .col-12 .card .card-body .map-search .input-group img {
            width: 20px;
            height: 20px;
            position: absolute;
            top: auto;
            left: 15px;
            z-index: 999; }
          body .container-fluid .body-map .container .row .col-12 .card .card-body .map-search .input-group input {
            background: #FFFFFF;
            box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.25);
            border-radius: 7px 0px 0 7px; }
          body .container-fluid .body-map .container .row .col-12 .card .card-body .map-search .input-group .input-group-append {
            background: #FFBE16;
            box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.25);
            border-radius: 0px 7px 7px 0px; }
            body .container-fluid .body-map .container .row .col-12 .card .card-body .map-search .input-group .input-group-append a {
              font-family: Roboto;
              font-style: normal;
              font-weight: 300;
              font-size: 15px;
              line-height: 139.9%;
              letter-spacing: 0.01em;
              text-transform: capitalize;
              color: #000000; }
      body .container-fluid .body-map .container .row .col-12 .card .card-body .card-increment {
        position: absolute;
        top: 80px;
        left: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column; }
        body .container-fluid .body-map .container .row .col-12 .card .card-body .card-increment .increment {
          width: 40px;
          height: 38px;
          background: #FFFFFF;
          box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.25);
          border-radius: 7px;
          display: flex;
          align-items: center;
          justify-content: center; }
        body .container-fluid .body-map .container .row .col-12 .card .card-body .card-increment .line {
          width: 12px;
          height: 130px;
          border: 1px solid #A7A1A1;
          background: white; }
        body .container-fluid .body-map .container .row .col-12 .card .card-body .card-increment .line2 {
          width: 40px;
          height: 13px;
          box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.25);
          border-radius: 3px;
          background: white;
          position: absolute; }
        body .container-fluid .body-map .container .row .col-12 .card .card-body .card-increment .decrement {
          width: 40px;
          height: 38px;
          background: #FFFFFF;
          box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.25);
          border-radius: 7px;
          display: flex;
          align-items: center;
          justify-content: center; }

/*# sourceMappingURL=citymap.css.map */
