@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,500;1,900&display=swap");
body {
  margin: 0;
  padding: 0; }
  body .container-fluid {
    margin: 0;
    padding: 0;
    position: relative; }
    body .container-fluid .navbar {
      width: 100%; }
      body .container-fluid .navbar .container .navbar-brand {
        display: flex;
        align-items: center; }
        body .container-fluid .navbar .container .navbar-brand img {
          width: 60px;
          height: 60px; }
        body .container-fluid .navbar .container .navbar-brand .navbar-text h5 {
          font-family: Roboto;
          font-style: normal;
          font-weight: 500;
          font-size: 18px;
          line-height: 116.4%;
          text-transform: uppercase;
          color: #4883A5;
          margin-bottom: 0; }
        body .container-fluid .navbar .container .navbar-brand .navbar-text h4 {
          font-family: Roboto;
          font-style: normal;
          font-weight: 900;
          font-size: 18px;
          line-height: 116.4%;
          text-transform: uppercase;
          color: #4883A5; }
      body .container-fluid .navbar .container .nav .nav-item .nav-link {
        font-family: Roboto;
        font-style: normal;
        font-weight: 300;
        font-size: 18px;
        line-height: 94.69%;
        color: #535C6D;
        text-transform: capitalize; }
    body .container-fluid .navbar-menus {
      height: 58px;
      background: rgba(27, 96, 225, 0.6);
      position: fixed;
      width: 100%;
      z-index: 999; }
      body .container-fluid .navbar-menus.active {
        top: 0;
        position: fixed;
        background-color: #0a6ebd;
        transition: 1s linear; }
      body .container-fluid .navbar-menus .container .nav {
        display: flex;
        justify-content: space-between;
        width: 100%;
        align-content: center;
        height: 100%; }
        body .container-fluid .navbar-menus .container .nav .nav-item {
          position: relative;
          min-height: 100%;
          padding: 8px; }
          body .container-fluid .navbar-menus .container .nav .nav-item .nav-link {
            font-family: Roboto;
            font-style: normal;
            font-weight: normal;
            font-size: 18px;
            line-height: 21px;
            text-transform: capitalize;
            color: #ffffff;
            order: 0;
            flex-grow: 0;
            padding: 10px; }
          body .container-fluid .navbar-menus .container .nav .nav-item .nav {
            flex-direction: column;
            background: rgba(27, 96, 225, 0.8);
            backdrop-filter: blur(4px);
            width: 368px;
            display: none;
            position: absolute;
            top: 58px;
            height: auto;
            z-index: 999;
            padding: 0 20px; }
            body .container-fluid .navbar-menus .container .nav .nav-item .nav .nav-item {
              border-bottom: 0.5px solid rgba(255, 255, 255, 0.55);
              padding: 0;
              height: 100%;
              z-index: 999;
              width: 100%; }
              body .container-fluid .navbar-menus .container .nav .nav-item .nav .nav-item .nav-link {
                font-family: Montserrat;
                font-style: normal;
                font-weight: 500;
                font-size: 15px !important;
                line-height: 22px;
                text-transform: capitalize;
                color: #FFFFFF; }
          body .container-fluid .navbar-menus .container .nav .nav-item:hover .nav {
            display: flex !important; }
    body .container-fluid .navbar-submenus {
      display: none; }
    body .container-fluid .body {
      position: relative; }
      body .container-fluid .body .body-content {
        width: 100%;
        height: 350px;
        background-image: url("../assets/image/samarrrr.svg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        opacity: 0.2; }
      body .container-fluid .body p {
        position: absolute;
        top: 198px;
        left: 180px;
        font-family: Roboto;
        font-style: normal;
        font-weight: 900;
        font-size: 32px;
        line-height: 139.9%;
        text-transform: uppercase;
        color: #51596A; }
    body .container-fluid .skills .container .row {
      width: 100%;
      margin: 0; }
      body .container-fluid .skills .container .row .col-4 .card {
        border: 0; }
        body .container-fluid .skills .container .row .col-4 .card .card-body .city-photo {
          width: 100%;
          height: 226px;
          background: #C4C4C4;
          border-radius: 16px; }
        body .container-fluid .skills .container .row .col-4 .card .card-footer {
          background: white;
          border-top: 0; }
          body .container-fluid .skills .container .row .col-4 .card .card-footer p {
            font-family: Roboto;
            font-style: normal;
            font-weight: 500;
            font-size: 32px;
            line-height: 94.69%;
            letter-spacing: -0.02em;
            text-transform: capitalize;
            color: #535C6D; }

/*# sourceMappingURL=divi.css.map */
