@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,500;1,900&display=swap');
*{
  .container-fluid{
    position: relative;
    padding: 0;
    .navbar {
      width: 100%;
      padding: 23px 217px 23px 218px;

      .navbar-brand {
        display: flex;
        align-items: center;

        img {
          width: 76px;
          height: 76px;
        }

        .navbar-text {
          margin-left: 11px;

          h5 {
            font-family: Roboto;
            font-style: normal;
            font-weight: 500;
            font-size: 20px;
            line-height: 116.4%;
            text-transform: uppercase;
            color: #4883A5;

          }

          h4 {
            font-family: Roboto;
            font-style: normal;
            font-weight: 900;
            font-size: 20px;
            line-height: 116.4%;
            text-transform: uppercase;
            color: #4883A5;
          }
        }
      }
      .nav{
        .nav-text1{
          .nav-item{
            .nav-link{
              font-family: Roboto;
              font-style: normal;
              font-weight: 300;
              font-size: 18px;
              line-height: 94.69%;
              text-align: center;
              color: #535C6D;
            }
          }
        }
        .nav-text2{
          .nav-item{
            .nav-link{
              font-family: Roboto;
              font-style: normal;
              font-weight: 300;
              font-size: 18px;
              line-height: 94.69%;
              text-align: center;
              color: #535C6D;
            }
          }
        }
        .nav-text3{
          .nav-item{
            .nav-link{
              font-family: Roboto;
              font-style: normal;
              font-weight: 300;
              font-size: 18px;
              line-height: 94.69%;
              text-align: center;
              color: #535C6D;
              text-transform: capitalize;
            }
          }
        }
      }
    }
    .navbar-menus {
      padding: 30px 220.5px;
      width: 100%;
      background-color: #535C6D;
      height: 106px;
      mix-blend-mode: multiply;
      display: flex;
      align-items: center;
      justify-content: center;


      .nav {
        width: 100%;
        display: flex;
        justify-content: space-between;

        .nav-item {
          .nav-link {
            width: 100%;
            font-family: Montserrat;
            font-style: normal;
            font-weight: 500;
            font-size: 23px;
            line-height: 22px;
            text-transform: capitalize;
            color: #FFFFFF;
            transition: 0.5s ease;
          }

          .nav-link:hover {
            color: #adb5bd;
          }
        }
      }
    }
    .body{
      position: relative;
      .body-content{
        width: 100%;
        height: 736px;
        background-image: url("../assets/image/body-img.png");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        opacity: 0.3 ;
      }
      .body-text{
        position: absolute;
        top: 274px;
        left: 235px;
        h5{
          font-family: Roboto;
          font-style: normal;
          font-weight: 900;
          font-size: 32px;
          line-height: 139.9%;
          text-transform: uppercase;
          color: #51596A;
          width: 643px;
        }
      }
    }
    .skills{
      display: flex;
      justify-content: center;
      width: 100%;
      position: relative;
      .col-9{
        border-radius: 16px;
        padding: 79px 98px;
        position: absolute;
        top: -222px;
        background: #EBF1F4;
        .skills-contact{
          width: 100%;
          height: 100%;

          .row{
            justify-content: center;
            width: 100%;
            margin: 0;
            .col-4{
              margin-bottom: 41px;
              .card{
                width: 380px;
                height: 230px;
                box-shadow: 3px 4px 19px rgba(207, 213, 216, 0.25);
                border-radius: 7px;
                padding: 36px;
                margin-left: auto;
                margin-right: auto;
                .card-body{
                  position: relative;
                  padding: 0;
                  h5{
                    font-family: Roboto;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 20px;
                    line-height: 139.9%;
                    text-transform: uppercase;
                    color: #535C6D;

                  }
                  p{
                    font-family: Roboto;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 15px;
                    line-height: 139.9%;
                    text-transform: uppercase;
                    color: #535C6D;
                    position: absolute;
                    left: 0;
                    bottom: 0;
                  }
                }
              }
            }
          }
        }
      }
    }


















    @media (max-width: 576px) {
      .navbar{
        padding: 20px;
        .navbar-brand{
          img{
            width: 45px;
            height: 45px;
          }
          .navbar-text{
            h5{
              font-size: 10px;
            }
            h4{
              font-size: 10px;
            }
          }
        }
        .menu-btn{
          width: 30px;
          height: 30px;
          background-image: url("../assets/icons/round_hamburger_menu_burger_icon_132782.svg");
          background-repeat: no-repeat;
          background-size: cover;
        }
        .nav{
          display: none;
        }
      }
      .navbar-menus{
        display: none;
      }
      .body{
        .body-content{
          width: 100%;
          height: 188px;
        }
        .body-text{
          top: 70px;
          left: 63px;
          h5{
            font-size: 8px;
            width: 165px;
          }
        }
      }
      .skills{
        width: 100%;
        height: 100%;
        .col-9{
          width: 100%;
          top: -54px;
          min-height: 100%;
          padding: 10px!important;
          .skills-contact{
            .row{
              width: 100%;
              flex-direction: column;
              margin: 0;
              .col-4{
                max-width: 100%;
                .card{
                  width: 250px;
                  height: 150px;
                  margin-left: auto;
                  margin-right: auto;
                  padding: 20px;
                  margin-top: 20px;
                  .card-body{
                    h5{
                      font-size: 10px;
                    }
                    p{
                      font-size: 10px;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
    @media (max-width: 768px) and (min-width: 576px) {
      .navbar{
        padding: 20px 25px;
        .navbar-brand{
          img{
            width: 55px;
            height: 55px;
          }
          .navbar-text{
            h5{
              font-size: 15px;
            }
            h4{
              font-size: 15px;
            }
          }
        }
        .menu-btn{
          width: 30px;
          height: 30px;
          background-image: url("../assets/icons/round_hamburger_menu_burger_icon_132782.svg");
          background-repeat: no-repeat;
          background-size: cover;
        }
        .nav{
          display: none;
        }
      }
      .navbar-menus{
        display: none;
      }
      .body{
        .body-content{
          width: 100%;
          height: 228px;
        }
        .body-text{
          top: 90px;
          left: 74px;
          h5{
            font-size: 10px;
            width: 204px;
          }
        }
      }
      .skills{
        width: 100%;
        .col-9{
          width: 100%;
          min-height: 100%;
          padding: 20px;
          top: -62px;
          .skills-contact{
            .row{
              width: 100%;
              flex-direction: column;
              margin: 0;
              .col-4{
                min-width: 100%;
                margin-top: 20px;
                .card{
                  width: 250px;
                  height: 150px;
                  margin-right: auto;
                  margin-left: auto;
                  padding: 20px;
                  .card-body{
                    h5{
                      font-size: 15px;
                    }
                    h4{
                      font-size: 15px;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
    @media (min-width: 768px) and (max-width: 992px){
      .navbar{
        padding: 20px 30px;
        .navbar-brand{
          .navbar-text{
            h5{
              font-size: 18px;
            }
            h4{
              font-size: 18px;
            }
          }
        }
        .menu-btn{
          width: 30px;
          height: 30px;
          background-image: url("../assets/icons/round_hamburger_menu_burger_icon_132782.svg");
          background-size: cover;
          background-repeat: no-repeat;
        }
        .nav{
          display: none;
        }
      }
      .navbar-menus{
        display: none;
      }
      .body{
        .body-content{
          width: 100%;
          height: 297px;
        }
        .body-text{
          top: 116px;
          left: 100px;
          h5{
            font-size: 15px;
            width: 304px;
          }
        }
      }
      .skills{
        .col-9{
          width: 100%;
          min-height: 100%;
          padding: 20px;
          top: -85px;
          .skills-contact{
            .row{
              width: 100%;
              flex-direction: column;
              margin: 0;
              .col-4{
                max-width: 100%;
                margin-top: 20px;
                .card{
                  width: 300px;
                  height: 200px;
                  margin-left: auto;
                  margin-right: auto;
                  .card-body{
                    h5{
                      font-size: 15px;
                    }
                    p{
                      font-size: 15px;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
    @media (min-width: 992px) and (max-width: 1200px) {
      .navbar{
        padding: 25px;
        .navbar-brand{
          img{
            width: 60px;
            height: 60px;
          }
          .navbar-text{
            h5{
              font-size: 18px;
            }
            h4{
              font-size: 18px;
            }
          }
        }
        .nav{
          .nav-item{
            .nav-link{
              padding: 10px;
            }
          }
        }
      }
      .navbar-menus{
        padding: 25px;
        .nav{
          .nav-item{
            .nav-link{
              font-size: 16px;
              padding: 10px;
            }
          }
        }
      }
      .body{
        .body-content{
          width: 100%;
          height: 379px;
        }
        .body-text{
          top: 139px;
          left: 127px;
          h5{
            font-size: 18px;
            width: 365px;
          }
        }
      }
      .skills{
        .col-9{
          padding: 30px;
          width: 100%;
          top: -110px;
          .skills-contact{
            .row{
              width: 100%;
              margin: 0;
              flex-wrap: wrap;
              .col-4{
                max-width: 50%;
                .card{
                  width: 250px;
                  height: 200px;
                  padding: 25px;
                  margin-top: 20px;
                  .card-body{
                    h5{
                      font-size: 12px;
                    }
                    p{
                      font-size: 12px;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
    @media (min-width: 1200px) and (max-width: 1400px) {
      .navbar{
        padding: 25px 30px;
      }
      .navbar-menus{
        padding: 25px 30px;
        .nav{
          .nav-item{
            .nav-link{
              font-size: 18px;
            }
          }
        }
      }
      .body{
        .body-content{
          width: 100%;
          height: 465px;
        }
        .body-text{
          top: 165px;
          left: 157px;
          h5{
            font-size: 22px;
            width: 455px;
          }
        }
      }
      .skills{
        .col-9{
          width: 100%;
          top: -140px;
          padding: 20px;
          .skills-contact{
            width: 100%;
            .row{
              width: 100%;
              margin: 0;
              .col-4{
                max-width: 33%;
                .card{
                  width: 250px;
                  height: 180px;
                  padding: 15px;
                  margin-right: auto;
                  margin-left: auto;
                  margin-top: 20px;
                  .card-body{
                    h5{
                      font-size: 15px;
                    }
                    p{
                      font-size: 15px;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}