@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,500;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700;900&family=Roboto:ital,wght@0,500;0,700;1,100;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&family=Montserrat:wght@500;700;900&family=Roboto:ital,wght@0,500;0,700;1,100;1,300&display=swap');

body{
  .container-fluid{
    position: relative;
    padding: 0;
    .navbar{
      .container{
        .navbar-brand{
          display: flex;
          padding: 10px;
          align-content: center;
          img{
            width: 70px;
            height: 70px;
          }
          .navbar-text{
            h5{
              font-family: Roboto;
              font-style: normal;
              font-weight: 400;
              font-size: 20px;
              line-height: 116.4%;
              text-transform: uppercase;
              color: #4883A5;
              margin-bottom: 0;
            }
            h4{
              font-family: Roboto;
              font-style: normal;
              font-weight: 900;
              font-size: 20px;
              line-height: 116.4%;
              text-transform: uppercase;
              color: #4883A5;
            }
          }
        }
        .nav{
          .nav-text3{
            .nav-item{
              .nav-link{
                font-family: Roboto;
                font-style: normal;
                font-weight: 300;
                font-size: 18px;
                line-height: 94.69%;
                text-transform: capitalize;
                color: #535C6D;

              }
            }
          }
        }
      }
    }
    .navbar-menus{
      height: 58px;
      background: rgba(27, 96, 225, .6);
      width: 100%;
      transition: 1s ease;
      &.active{
        position: fixed;
        top: 0;
        transition: 1s ease;
        background-color: #0a6ebd;
      }
      .container{
        .nav{
          display: flex;
          justify-content: space-between;
          width: 100%;
          align-content: center;
          height: 100%;
          .nav-item{
            position: relative;
            min-height: 100%;
            padding: 8px;
            .nav-link{
              font-family: Roboto;
              font-style: normal;
              font-weight: normal;
              font-size: 18px;
              line-height: 21px;
              text-transform: capitalize;
              color: #ffffff;
              order: 0;
              flex-grow: 0;
              padding: 10px;
            }
            .nav{
              flex-direction: column;
              background: rgba(27, 96, 225, 0.8);
              backdrop-filter: blur(4px);
              width: 368px;
              display: none;
              position: absolute;
              top: 58px;
              height: auto;
              z-index: 999;
              padding: 0 20px;
              .nav-item{
                border-bottom: 0.5px solid rgba(255, 255, 255, 0.55);
                padding: 0;
                height: 100%;
                z-index: 999  ;
                width: 100%;
                .nav-link{
                  font-family: Montserrat;
                  font-style: normal;
                  font-weight: 500;
                  font-size: 15px!important;
                  line-height: 22px;
                  text-transform: capitalize;
                  color: #FFFFFF;

                }
              }
            }
            &:hover{
              .nav{
                display: flex!important;
              }
            }
          }
        }
      }
    }
    .navbar-submenus{
      display: none;
    }
    .body{
      width: 100%;
      position: relative;
      .body-content{
        width: 100%;
        height: 350px;
        background-image: url("../assets/image/samarrrr.svg");
        background-repeat: no-repeat;
        background-size: cover;
        opacity: 0.2;
      }
      .body-title{
        position: absolute;
        left: 205px;
        bottom: 107px;
        h4{
          font-family: Roboto;
          font-style: normal;
          font-weight: 900;
          font-size: 32px;
          line-height: 139.9%;
          text-transform: uppercase;
          color: #51596A;
        }
      }
    }
    .info-title{
      .container{
        .card{
          border: 0;
          .card-body{
            p{
              margin-top: 54px;
              font-family: Roboto;
              font-style: normal;
              font-weight: 300;
              font-size: 22px;
              line-height: 139.9%;
              text-transform: capitalize;
              color: #51596A;
              text-align: justify;
            }
          }
        }
      }
    }
    .body-map{
      margin-bottom: 50px;
      .container{
        .row{
          .col-12{
            .card{
              display: flex;
              flex-direction: row;
              border: 0;
              justify-content: space-between;
              .card-header{
                background: white;
                h4{
                  font-family: Roboto;
                  font-style: normal;
                  font-weight: 500;
                  font-size: 20px;
                  line-height: 139.9%;
                  text-transform: capitalize;
                  color: #51596A;
                  margin-bottom: 69px;
                }
                .body-text1{
                  img{
                    width: 20px;
                    height: 20px;
                  }
                  p{
                    font-family: Roboto;
                    font-style: normal;
                    font-weight: 300;
                    font-size: 15px;
                    line-height: 139.9%;
                    letter-spacing: 0.01em;
                    text-transform: capitalize;
                    color: #51596A;
                  }
                }
                .body-text2{
                  img{
                    width: 20px;
                    height: 20px;
                  }
                  p{
                    font-family: Roboto;
                    font-style: normal;
                    font-weight: 300;
                    font-size: 15px;
                    line-height: 139.9%;
                    letter-spacing: 0.01em;
                    text-transform: capitalize;
                    color: #51596A;
                    width: 225px!important;
                  }
                }
                .body-text3{
                  img{
                    width: 20px;
                    height: 20px;
                  }
                  p{
                    font-family: Roboto;
                    font-style: normal;
                    font-weight: 300;
                    font-size: 15px;
                    line-height: 139.9%;
                    letter-spacing: 0.01em;
                    text-transform: capitalize;
                    color: #51596A;
                  }
                }
              }
              .card-body{
                position: relative;
                .map{
                  width: 100%;
                  height: 310px;
                  background-image: url("../assets/image/map.png");
                  background-size: cover;
                  background-repeat: no-repeat;
                }
                .map-search{
                  display: flex;
                  align-items: center;
                  position: absolute;
                  top: 35px;
                  left: 40px;
                  .map-nav{
                    width: 40px;
                    height: 38px;
                    background: white;
                    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.25);
                    border-radius: 7px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                  }
                  .input-group{
                    width: 350px;
                    position: relative;
                    margin-left: 20px;
                    img{
                      width: 20px;
                      height: 20px;
                      position: absolute;
                      top: auto;
                      left: 15px;
                      z-index: 999;
                    }
                    input{
                      background: #FFFFFF;
                      box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.25);
                      border-radius: 7px 0px 0 7px;
                    }
                    .input-group-append{
                      background: #FFBE16;
                      box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.25);
                      border-radius: 0px 7px 7px 0px;
                      a{
                        font-family: Roboto;
                        font-style: normal;
                        font-weight: 300;
                        font-size: 15px;
                        line-height: 139.9%;
                        letter-spacing: 0.01em;
                        text-transform: capitalize;
                        color: #000000;
                      }
                    }
                  }

                }
                .card-increment{
                  position: absolute;
                  top: 80px;
                  left: 40px;
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  flex-direction: column;
                  .increment{
                    width: 40px;
                    height: 38px;
                    background: #FFFFFF;
                    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.25);
                    border-radius: 7px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                  }
                  .line{
                    width: 12px;
                    height: 130px;
                    border: 1px solid #A7A1A1;
                    background: white;
                  }
                  .line2{
                    width: 40px;
                    height: 13px;
                    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.25);
                    border-radius: 3px;
                    background: white;
                    position: absolute;
                  }
                  .decrement{
                    width: 40px;
                    height: 38px;
                    background: #FFFFFF;
                    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.25);
                    border-radius: 7px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}