@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,500;1,900&display=swap');

body{
  .container-fluid{
    position: relative;
    padding: 0;
    .navbar {
      width: 100%;
      padding: 23px 217px 23px 218px;

      .navbar-brand {
        display: flex;
        align-items: center;

        img {
          width: 76px;
          height: 76px;
        }

        .navbar-text {
          margin-left: 11px;

          h5 {
            font-family: Roboto;
            font-style: normal;
            font-weight: 500;
            font-size: 20px;
            line-height: 116.4%;
            text-transform: uppercase;
            color: #4883A5;

          }

          h4 {
            font-family: Roboto;
            font-style: normal;
            font-weight: 900;
            font-size: 20px;
            line-height: 116.4%;
            text-transform: uppercase;
            color: #4883A5;
          }
        }
      }
      .nav{
        .nav-text1{
          .nav-item{
            .nav-link{
              font-family: Roboto;
              font-style: normal;
              font-weight: 300;
              font-size: 18px;
              line-height: 94.69%;
              text-align: center;
              color: #535C6D;
            }
          }
        }
        .nav-text2{
          .nav-item{
            .nav-link{
              font-family: Roboto;
              font-style: normal;
              font-weight: 300;
              font-size: 18px;
              line-height: 94.69%;
              text-align: center;
              color: #535C6D;
            }
          }
        }
        .nav-text3{
          .nav-item{
            .nav-link{
              font-family: Roboto;
              font-style: normal;
              font-weight: 300;
              font-size: 18px;
              line-height: 94.69%;
              text-align: center;
              color: #535C6D;
              text-transform: capitalize;
            }
          }
        }
      }
    }
    .navbar-menus {
      padding: 30px 220.5px;
      width: 100%;
      background-color: #535C6D;
      height: 106px;
      mix-blend-mode: multiply;
      display: flex;
      align-items: center;
      justify-content: center;


      .nav {
        width: 100%;
        display: flex;
        justify-content: space-between;

        .nav-item {
          .nav-link {
            width: 100%;
            font-family: Montserrat;
            font-style: normal;
            font-weight: 500;
            font-size: 23px;
            line-height: 22px;
            text-transform: capitalize;
            color: #FFFFFF;
          }

          .nav-link:hover {
            color: #adb5bd;
          }
        }
      }
    }
    .body{
      position: relative;
      .body-content{
        width: 100%;
        height: 736px;
        background-image: url("../assets/image/mono.png");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        opacity: 0.3 ;
      }
      .body-text{
        position: absolute;
        top: 274px;
        left: 235px;
        p{
          font-family: Roboto;
          font-style: normal;
          font-weight: 900;
          font-size: 32px;
          line-height: 139.9%;
          text-transform: uppercase;
          color: #51596A;
        }
      }
    }
    .skills{
      .row{
        justify-content: center;
        width: 100%;
        position: absolute;
        top: 722px;
        .col-9{
          .card{
            border: 0;
            background: #EBF1F4;
            border-radius: 16px;
            padding: 65px 79px 56px 79px;
            .card-body{
              p{

                font-family: Roboto;
                font-style: normal;
                font-weight: normal;
                font-size: 28px;
                line-height: 139.9%;
                text-transform: capitalize;
                color: #51596A;
              }
            }
          }
        }
      }
    }


    @media (max-width: 576px) {
      .navbar{
        padding: 20px 25px;
        .navbar-brand{
          img{
            width: 45px;
            height: 45px;
          }
          .navbar-text{
            h5{
              font-size: 10px;
            }
            h4{
              font-size: 10px;
            }
          }
        }
        .menu-btn{
          width: 30px;
          height: 30px;
          background-image: url("../assets/icons/round_hamburger_menu_burger_icon_132782.svg");
          background-repeat: no-repeat;
          background-size: cover;
        }
        .nav{
          display: none;
        }
      }
      .navbar-menus{
        display: none;
      }
      .body{
        .body-content{
          width: 100%;
          height: 188px;
        }
        .body-text{
          top: 60px;
          left: 43px;
          p{
            font-size: 12px;
          }
        }
      }
      .skills{
        .row{
          width: 100%;
          top: 240px;
          justify-content: center;
          margin: 0;
          .col-9{
            width: 100%;
            .card{
              padding: 10px;
              .card-body{
                p{
                  font-size: 10px;
                }
              }
            }
          }
        }
      }
    }
    @media (min-width: 576px) and (max-width: 768px) {
      .navbar{
        padding: 20px 25px;
        .navbar-brand{
          img{
            width: 45px;
            height: 45px;
          }
          .navbar-text{
            h5{
              font-size: 15px;
            }
            h4{
              font-size: 15px;
            }
          }
        }
        .menu-btn{
          width: 30px;
          height: 30px;
          background-image: url("../assets/icons/round_hamburger_menu_burger_icon_132782.svg");
          background-repeat: no-repeat;
          background-size: cover;
        }
        .nav{
          display: none;
        }
      }
      .navbar-menus{
        display: none;
      }
      .body{
        .body-content{
          width: 100%;
          height: 226px;
        }
        .body-text{
          top: 80px;
          left: 40px;
          p{
            font-size: 15px;
          }
        }
      }
      .skills{
        .row{
          width: 100%;
          top: 279px;
          margin: 0;
          .col-9{
            .card{
              padding: 20px;
              .card-body{
                p{
                  font-size: 15px;
                }
              }
            }
          }
        }
      }
    }
    @media (max-width: 992px) and (min-width: 768px) {
      .navbar{
        padding: 20px 25px;
        .navbar-brand{
          img{
            width: 55px;
            height: 55px;
          }
          .navbar-text{
            h5{
              font-size: 15px;
            }
            h4{
              font-size: 15px;
            }
          }
        }
        .menu-btn{
          width: 30px;
          height: 30px;
          background-image: url("../assets/icons/round_hamburger_menu_burger_icon_132782.svg");
          background-size: cover;
          background-repeat: no-repeat;
        }
        .nav{
          display: none;
        }
      }
      .navbar-menus{
        display: none;
      }
      .body{
        .body-content{
          width: 100%;
          height: 304px;
        }
        .body-text{
          top: 110px;
          left: 65px;
          p{
            font-size: 18px;
          }
        }
      }
      .skills{
        .row{
          width: 100%;
          top: 327px;
          .col-9{
            .card{
              padding: 25px;
              .card-body{
                p{
                  font-size: 15px;
                }
              }
            }
          }
        }
      }
    }
    @media (min-width: 992px) and (max-width: 1200px) {
      .navbar{
        padding: 25px;
        .navbar-brand{
          img{
            width: 60px;
            height: 60px;
          }
          .navbar-text{
            h5{
              font-size: 18px;
            }
            h4{
              font-size: 18px;
            }
          }
        }
        .nav{
          .nav-text1{
            .nav-item{
              .nav-link{
                padding: 10px;
              }
            }
          }
          .nav-text2{
            .nav-item{
              .nav-link{
                padding: 10px;
              }
            }
          }
          .nav-text3{
            .nav-item{
              .nav-link{
                padding: 10px;
              }
            }
          }
        }
      }
      .navbar-menus{
        padding: 25px;
        .nav{
          justify-content: space-around;
          .nav-item{
            .nav-link{
              padding: 10px;
              font-size: 16px;
            }
          }
        }
      }
      .body{
        .body-content{
          width: 100%;
          height: 390px;
        }
        .body-text{
          top: 145px;
          left: 120px;
          p{
            font-size: 20px;
          }
        }
      }
      .skills{
        .row{
          width: 100%;
          top: 510px;
          .col-9{
            .card{
              padding: 30px;
              .card-body{
                p{
                  font-size: 20px;
                }
              }
            }
          }
        }
      }
    }
    @media (min-width: 1200px) and (max-width: 1400px) {
      .navbar{
        padding: 30px;
      }
      .navbar-menus{
        padding: 30px;
        .nav{
          .nav-item{
            .nav-link{
              font-size: 19px;
            }
          }
        }
      }
      .body{
        .body-content{
          width: 100%;
          height: 515px;
        }
        .body-text{
          top: 190px;
          left: 73px;
          p{
            font-size: 27px;
          }
        }
      }
      .skills{
        .row{
          width: 100%;
          top: 620px;
          .col-9{
            .card{
              padding: 30px;
              .card-body{
                p{
                  font-size: 20px;
                }
              }
            }
          }
        }
      }
    }
  }
}