@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,500;1,900&display=swap');
body{

  .container-fluid{
    padding: 0;
    margin: 0;
    .navbar {
      width: 100%;
      padding: 23px 217px 23px 218px;

      .navbar-brand {
        display: flex;
        align-items: center;

        img {
          width: 76px;
          height: 76px;
        }

        .navbar-text {
          margin-left: 11px;

          h5 {
            font-family: Roboto;
            font-style: normal;
            font-weight: 500;
            font-size: 20px;
            line-height: 116.4%;
            text-transform: uppercase;
            color: #4883A5;

          }

          h4 {
            font-family: Roboto;
            font-style: normal;
            font-weight: 900;
            font-size: 20px;
            line-height: 116.4%;
            text-transform: uppercase;
            color: #4883A5;
          }
        }
      }
      .nav{
        .nav-text1{
          .nav-item{
            .nav-link{
              font-family: Roboto;
              font-style: normal;
              font-weight: 300;
              font-size: 18px;
              line-height: 94.69%;
              text-align: center;
              color: #535C6D;
            }
          }
        }
        .nav-text2{
          .nav-item{
            .nav-link{
              font-family: Roboto;
              font-style: normal;
              font-weight: 300;
              font-size: 18px;
              line-height: 94.69%;
              text-align: center;
              color: #535C6D;
            }
          }
        }
        .nav-text3{
          .nav-item{
            .nav-link{
              font-family: Roboto;
              font-style: normal;
              font-weight: 300;
              font-size: 18px;
              line-height: 94.69%;
              text-align: center;
              color: #535C6D;
              text-transform: capitalize;
            }
          }
        }
      }
    }
    .navbar-menus {
      padding: 30px 220.5px;
      width: 100%;
      background-color: #535C6D;
      height: 106px;
      mix-blend-mode: multiply;
      display: flex;
      align-items: center;
      justify-content: center;


      .nav {
        width: 100%;
        display: flex;
        justify-content: space-between;

        .nav-item {
          .nav-link {
            width: 100%;
            font-family: Montserrat;
            font-style: normal;
            font-weight: 500;
            font-size: 23px;
            line-height: 22px;
            text-transform: capitalize;
            color: #FFFFFF;
          }


        }
      }
    }


    .body{
      position: relative;
      .body-content{
        background-image: url("../assets/image/room.png");
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        height: 411px;
        background-blend-mode: multiply;
        background-position: center;
        opacity: 0.2;
      }
      .body-title{
        display: flex;
        //align-items: center;
        position: absolute;
        top: 175px;
        left: 235px;
        .body-text{
          padding-right: 134px;
          h5{
            font-family: Roboto;
            font-style: normal;
            font-weight: 900;
            font-size: 32px;
            line-height: 44.77px;
            text-transform: uppercase;
            color: #51596A;
            width: 587px;
            margin: 0;
          }
        }
        .body-icon{
          display: flex;
          align-items: center;
          background: #ffffff;
          padding: 20px 25px;
          border-radius: 7px;
          width: 712px;
          justify-content: space-between;
          img{
            width: 64px;
            height: 35.49px;
          }
          .text{
            font-family: Roboto;
            font-style: normal;
            font-weight: 300;
            font-size: 24px;
            line-height: 139.9%;
            letter-spacing: 0.01em;
            text-transform: capitalize;
            color: #000000;
            margin: 0;
          }
          .number{
            font-family: Roboto;
            font-style: normal;
            font-weight: bold;
            font-size: 24px;
            line-height: 139.9%;
            letter-spacing: 0.01em;
            text-transform: capitalize;
            color: #000000;
            font-weight: 700;
            margin: 0;
          }
          p{
            margin: 0;
          }
        }
      }
    }

    .skills{
      .row{
        width: 100%;
        margin-top: 80px;
        margin-bottom: 100px;
        justify-content: center;
        .col-9{
          .card{
            background: #EBF1F4;
            border-radius: 16px;
            border: 0;
            padding: 77px 85px;
            .card-body{
              .skills-info{
                display: flex;
                //align-items: center;
                margin-bottom: 52px;
                margin-left: 30px;
                .people-photo{
                  background: #C4C4C4;
                  border-radius: 16px;
                  width: 200px;
                  height: 239px;
                  display: flex;
                  align-items: center;
                  justify-content: center;
                }
                .skills-text{
                  margin-left: 28px;
                  h4{
                    font-family: Roboto;
                    font-style: normal;
                    font-weight: 300;
                    font-size: 25px;
                    line-height: 139.9%;
                    text-transform: capitalize;
                    color: #51596A;
                    margin-bottom: 39px;

                  }
                  .people-name{
                    display: flex;
                    align-items: center;
                    margin-bottom: 39px;
                    p{
                      margin: 0;
                      margin-left: 15px;
                    }
                  }
                  .people-telnumber{
                    display: flex;
                    align-items: center;
                    p{
                      margin: 0;
                      margin-left: 15px;
                    }
                  }
                }
              }
              .line{
                width: 100%;
                height: 0;
                border: 1px solid #BAC0C3;
                margin-bottom: 52px;

              }
            }
          }
        }
      }
    }














    @media (max-width: 576px) {
      .navbar {
        width: 100%;
        padding: 25px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .navbar-brand{
          img{
            width: 40px;
            height: 40px;
          }
          .navbar-text{
            h5{
              font-size: 10px;
            }
            h4{
              font-size: 10px;
            }
          }

        }

        .menu-btn {
          width: 30px;
          height: 30px;
          background-image: url("../assets/icons/round_hamburger_menu_burger_icon_132782.svg");
          background-repeat: no-repeat;
          background-size: cover;
        }

        .nav {
          display: none;
        }
      }
      .navbar-menus {
        display: none;
      }

      .body{
        position: relative;
        .body-content{
          width: 100%;
          height: 103px;
        }
        .body-title{
          position: absolute;
          top: 10px;
          left: 58px;
          flex-direction: column!important;
          display: block;
          width: 399px;
          .body-text{

            h5{
              font-size: 10px;
              height: 15px;
              width: 100%;
              padding: 0;
            }
          }
          .body-icon{
            padding: 10px 15px 10px 0;

            background: transparent;
            display: flex;
            width: 419px;
            margin: 10px 0 0 0;
            img{
              width: 25px;
              height: 25px;
            }
            .text{
              font-size: 16px;
            }
            .number{
              font-size: 16px;
            }
          }
        }
      }

      .skills{
        .row{
          width: 100%;
          padding: 0;
          margin: 0;
          .col-9{
            width: 100%;
            margin-top: 20px;
            .card{
              padding: 25px;
              .card-body{

                .skills-info{
                  flex-direction: column;
                  margin-left: 0;
                   .people-photo{
                     display: flex;
                     align-items: center;
                     justify-content: center;
                     height: 145px;
                     margin-right: auto;
                     margin-left: auto;

                     img{
                       width: 100px;
                     }
                   }

                  .skills-text{
                    h4{
                      font-size: 15px;
                      margin: 10px 0;
                    }
                  }
                  .people-name{
                    margin-bottom: 12px !important;
                    img{
                      width: 20px;
                    }
                    p{
                      font-size: 12px;
                    }
                  }
                  .people-telnumber{
                    img{
                      width: 20px;
                    }
                    p{
                      font-size: 12px;
                    }
                  }
                }
              }
            }
          }
        }
      }

      .line{
        width: 100% !important;
      }
    }

    @media (max-width: 768px) and (min-width: 576px) {
      .navbar{
        padding: 20px 25px;
        .navbar-brand{
          img{
            width: 50px;
            height: 50px;
          }
          .navbar-text{
            h5{
              font-size: 15px;
            }
            h4{
              font-size: 15px;
            }
          }
        }
        .menu-btn{
          width: 30px;
          height: 30px;
          background-image: url("../assets/icons/round_hamburger_menu_burger_icon_132782.svg");
          background-repeat: no-repeat;
          background-size: cover;
        }
        .nav{
          display: none;
        }
      }
      .navbar-menus{
        display: none;
      }
      .body{
        .body-content{
          width: 100%;
          height: 134px;
        }
        .body-title{
          flex-direction: column;
          width: 513px;
          top: 20px;
          left: 40px;

          .body-text{
            h5{
              font-size: 15px;
              line-height: 22.77px;
            }
          }
          .body-icon{
            width: 100%;
            padding: 10px;
            background: transparent;
            img{
              width: 25px;
              height: 25px;
            }
            .text{
              font-size: 15px;
            }
            .number{
              font-size: 15px;
            }
            p{
              font-size: 20px;
            }
          }
        }
      }
      .skills{
        .row{
          width: 100%;
          margin-top: 35px;
          .col-9{
            .card{
              padding: 35px;
              .card-body{
                .skills-info{
                  flex-direction: column;
                  margin-left: 0;
                  .people-photo{
                    height: 193px;
                    margin-left: auto;
                    margin-right: auto;
                  }
                  .skills-text{
                    h4{
                      font-size: 18px;
                      margin-top: 20px;
                      margin-bottom: 20px ;
                    }
                    .people-name{
                      margin-bottom: 20px;
                      img{
                        width: 20px;
                        height: 20px;
                      }
                    }
                    .people-telnumber{
                      img{
                        width: 20px;
                        height: 20px;

                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
    @media (min-width: 768px) and (max-width: 992px) {
      .navbar{
        padding: 25px 30px;
        .navbar-brand{
            img{
              width: 55px;
              height: 55px;
            }
          .navbar-text{
            h5{
              font-size: 18px;
            }
            h4{
              font-size: 18px;
            }
          }
        }
        .menu-btn{
          width: 30px;
          height: 30px;
          background-image: url("../assets/icons/round_hamburger_menu_burger_icon_132782.svg");
          background-repeat: no-repeat;
          background-size: cover;
        }
        .nav{
          display: none;
        }
      }
      .navbar-menus{
        display: none;
      }
      .body{
        .body-content{
          width: 100%;
          height: 172px;
        }
        .body-title{
          top: 40px;
          left: 50px;
          width: 500px;
          flex-direction: column;
          .body-text{
            h5{
              font-size: 18px;
              line-height: 30px;
            }
          }
          .body-icon{
            height: 30px;
            background: transparent;
            padding-left: 0;
            justify-content: start;
            img{
              width: 28px;
              height: 28px;
            }
            .text{
              font-size: 18px;
              margin-left: 20px;
              margin-right: 20px;
            }
            .number{
              font-size: 18px;
              margin-left: 20px;
            }
            p{
              font-size: 25px;
              margin-bottom: 5px;
            }
          }
        }
      }
      .skills{
        .row{
          width: 100%;
          padding: 50px 80px;
          margin: 0;
          .col-9{
            padding: 0;
            .card{
              padding: 25px;
              .card-body{
                .skills-info{

                  .people-photo{
                    height: 133px;
                    img{
                      width: 80px;
                    }
                  }
                  .skills-text{
                    h4{
                      font-size: 15px;
                      margin-bottom: 20px;
                    }
                  }
                  .people-name{
                    margin-bottom: 20px!important;
                    img{
                      width: 20px;
                    }
                    p{
                      font-size: 12px;
                    }
                  }
                  .people-telnumber{
                    img{
                      width: 20px;
                    }
                    p{
                      font-size: 12px;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
    @media (max-width: 1200px) and (min-width: 992px) {
      .navbar{
        padding: 20px 30px;
        .navbar-brand{
          .navbar-text{
            h5{
              font-size: 18px;
            }
            h4{
              font-size: 18px;
            }
          }
        }
        .nav{
          .nav-text1{
            .nav-item{
              .nav-link{
                padding: 10px;
              }
            }
          }
          .nav-text2{
            .nav-item{
              .nav-link{
                padding: 10px;
              }
            }
          }
          .nav-text3{
            .nav-item{
              .nav-link{
                padding: 10px;
              }
            }
          }
        }
      }
      .navbar-menus{
        padding: 20px 30px;
        .nav{
          justify-content: space-around;
          .nav-item{
            .nav-link{
              font-size: 16px;
              padding: 10px;
            }
          }
        }
      }
      .body{
        .body-content{
          width: 100%;
          height: 217px;
        }
        .body-title{
          top: 50px;
          left: 131px;
          width: 695px;
          flex-direction: column;
          .body-text{
            h5{
              font-size: 18px;
              line-height: 22px;
            }
          }
          .body-icon{
            margin-top: 20px;
            width: 100%;
            height: 50px;
            padding: 5px;
          }
        }
      }
      .skills{
        .row{
          width: 100%;
          .col-9{
            .card{
              padding: 35px;
              .card-body{
                .skills-info{
                  .people-photo{
                    height: 165px;
                    img{
                      width: 85px;
                    }
                  }
                  .skills-text{
                    h4{
                      margin-bottom: 20px;
                    }
                    .people-name{
                      img{
                        width: 20px;
                      }
                      margin-bottom: 20px;
                    }
                    .people-telnumber{
                      img{
                        width: 20px;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
    @media (min-width: 1200px) and (max-width: 1400px) {
      .navbar{
        padding: 35px;
      }
      .navbar-menus{
        padding: 35px;
        .nav{
          .nav-item{
            .nav-link{
              padding: 10px;
              font-size: 20px!important;
            }
          }
        }
      }
      .body{
        .body-content{
          width: 100%;
          height: 292px;
        }
        .body-title{
          top: 50px;
          left: 175px;
          flex-direction: column;
        }
      }
    }
  }
}