@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,500;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700;900&family=Roboto:ital,wght@0,500;0,700;1,100;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&family=Montserrat:wght@500;700;900&family=Roboto:ital,wght@0,500;0,700;1,100;1,300&display=swap');

body{
  .container-fluid{
    padding: 0;
    .navbar{
      .container{
        .navbar-brand{
          display: flex;
          padding: 10px;
          align-content: center;
          img{
            width: 60px;
            height: 60px;
          }
          .navbar-text{
            h5{
              font-family: Roboto;
              font-style: normal;
              font-weight: 400;
              font-size: 20px;
              line-height: 116.4%;
              text-transform: uppercase;
              color: #4883A5;
              margin-bottom: 0;
            }
            h4{
              font-family: Roboto;
              font-style: normal;
              font-weight: 900;
              font-size: 20px;
              line-height: 116.4%;
              text-transform: uppercase;
              color: #4883A5;
            }
          }
        }
        .nav{
          .nav-text3{
            .nav-item{
              .nav-link{
                font-family: Roboto;
                font-style: normal;
                font-weight: 300;
                font-size: 18px;
                line-height: 94.69%;
                text-transform: capitalize;
                color: #535C6D;

              }
            }
          }
        }
      }
    }
    .navbar-menus{
      height: 58px;
      background: rgba(27, 96, 225, .6);
      .container{
        .nav{
          display: flex;
          justify-content: space-between;
          width: 100%;
          align-content: center;
          height: 100%;
          .nav-item{
            position: relative;
            min-height: 100%;
            padding: 8px;
            .nav-link{
              font-family: Roboto;
              font-style: normal;
              font-weight: normal;
              font-size: 18px;
              line-height: 21px;
              text-transform: capitalize;
              color: #ffffff;
              order: 0;
              flex-grow: 0;
              padding: 10px;
            }
            .nav{
              flex-direction: column;
              background: rgba(27, 96, 225, 0.8);
              backdrop-filter: blur(4px);
              width: 368px;
              display: none;
              position: absolute;
              top: 58px;
              height: auto;
              z-index: 999;
              padding: 0 20px;
              .nav-item{
                border-bottom: 0.5px solid rgba(255, 255, 255, 0.55);
                padding: 0;
                height: 100%;
                z-index: 999  ;
                width: 100%;
                .nav-link{
                  font-family: Montserrat;
                  font-style: normal;
                  font-weight: 500;
                  font-size: 15px!important;
                  line-height: 22px;
                  text-transform: capitalize;
                  color: #FFFFFF;

                }
              }
            }
            &:hover{
              .nav{
                display: flex!important;
              }
            }
          }
        }
      }
    }
    .navbar-submenus{
      display: none;
    }

    .body{
      position: relative;
      .body-content{
        background-image: url("../assets/image/samarrrr.svg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        width: 100%;
        height: 350px;
        opacity: 0.2;
      }
      .body-text{
        position: absolute;
        top: 198px;
        left: 180px;
        p{

          font-family: Roboto;
          font-style: normal;
          font-weight: 900;
          font-size: 32px;
          line-height: 139.9%;
          text-transform: uppercase;
          color: #51596A;
        }
      }
    }
    .skills{
      .container{
        .card{
          border: 0;
          .card-body{
            text-align: justify;
            padding-top: 56px;
            p{
              font-family: Montserrat;
              font-style: normal;
              font-weight: normal;
              font-size: 20px;
              line-height: 139.9%;
              text-transform: capitalize;
              color: #51596A;
            }
          }
        }
      }
    }

  }
}