<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ўзбекистон Республикаси қонунлари</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="stylesheet" href="../css/bootstrap.css">
    <link rel="stylesheet" href="../css/law.css">

</head>
<body>
<div class="container-fluid">
    <div class="navbar">
        <div class="navbar-brand">
            <img src="../assets/icons/Grb.png" alt="">
            <div class="navbar-text">
                <h5>Қашқадарё вилояти</h5>
                <h4>Бандлик бош бошқармаси</h4>
            </div>
        </div>
        <div class="menu-btn" id="menu"></div>
        <ul class="nav" id="nav-menu">
            <div class="nav-text1 d-flex align-items-center">
                <li class="nav-item"><a href="#" class="nav-link"><img src="../assets/icons/phone.svg" alt="error"></a>
                </li>
                <li class="nav-item"><a href="#" class="nav-link">+998(71) 233-22-00</a></li>
            </div>
            <div class="nav-text2 d-flex align-items-center">
                <li class="nav-item"><a href="#" class="nav-link"><img src="../assets/icons/miniphone.svg" alt="error"></a>
                </li>
                <li class="nav-item"><a href="#" class="nav-link"><img src="../assets/icons/glesses.svg"
                                                                       alt="error"></a></li>
            </div>
            <div class="nav-text3 d-flex align-items-center">
                <li class="nav-item"><a href="#" class="nav-link">рус</a></li>
                <li class="nav-item"><a href="#" class="nav-link">ўзб</a></li>
                <li class="nav-item"><a href="#" class="nav-link">eng</a></li>
                <li class="nav-item"><a href="#" class="nav-link"><img src="../assets/icons/search.svg" alt="error"></a>
                </li>
            </div>
        </ul>
    </div>
    <div class="navbar-menus" id="nav">
        <ul class="nav">
            <li class="nav-item"><a href="#" class="nav-link">Бошқарма</a></li>
            <li class="nav-item"><a href="#" class="nav-link">Ҳудудий бўлимлар</a></li>
            <li class="nav-item"><a href="#" class="nav-link">Касбга ўқитиш</a></li>
            <li class="nav-item"><a href="#" class="nav-link">Матбуот маркази</a></li>
            <li class="nav-item"><a href="#" class="nav-link">Меъёрий-ҳуқуқий хужжатлар</a></li>
            <li class="nav-item"><a href="#" class="nav-link">Вакансиялар</a></li>
            <li class="nav-item"><a href="#" class="nav-link">Боғланиш</a></li>
        </ul>
    </div>

    <div class="body">
        <div class="body-content"></div>
        <div class="body-text">
            <h4>Ўзбекистон Республикаси</h4>
            <h5>қонунлари</h5>
        </div>
    </div>
    <div class="skills">

        <div class="col-9 ">
            <div class="skills-contact">
                <div class="row">
                    <div class="col-4">
                        <div class="card">
                            <div class="card-body">
                                <h5>ДАВЛАТ-ХУСУСИЙ ШЕРИКЛИК ТЎҒРИСИДА</h5>
                                <p>04/11/2019   ЗРУ-537</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="card">
                            <div class="card-body">
                                <h5>ДАВЛАТ-ХУСУСИЙ ШЕРИКЛИК ТЎҒРИСИДА</h5>
                                <p>04/11/2019   ЗРУ-537</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="card">
                            <div class="card-body">
                                <h5>ДАВЛАТ-ХУСУСИЙ ШЕРИКЛИК ТЎҒРИСИДА</h5>
                                <p>04/11/2019   ЗРУ-537</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="card">
                            <div class="card-body">
                                <h5>ДАВЛАТ-ХУСУСИЙ ШЕРИКЛИК ТЎҒРИСИДА</h5>
                                <p>04/11/2019   ЗРУ-537</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="card">
                            <div class="card-body">
                                <h5>ДАВЛАТ-ХУСУСИЙ ШЕРИКЛИК ТЎҒРИСИДА</h5>
                                <p>04/11/2019   ЗРУ-537</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="card">
                            <div class="card-body">
                                <h5>ДАВЛАТ-ХУСУСИЙ ШЕРИКЛИК ТЎҒРИСИДА</h5>
                                <p>04/11/2019   ЗРУ-537</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="card">
                            <div class="card-body">
                                <h5>ДАВЛАТ-ХУСУСИЙ ШЕРИКЛИК ТЎҒРИСИДА</h5>
                                <p>04/11/2019   ЗРУ-537</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="card">
                            <div class="card-body">
                                <h5>ДАВЛАТ-ХУСУСИЙ ШЕРИКЛИК ТЎҒРИСИДА</h5>
                                <p>04/11/2019   ЗРУ-537</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="card">
                            <div class="card-body">
                                <h5>ДАВЛАТ-ХУСУСИЙ ШЕРИКЛИК ТЎҒРИСИДА</h5>
                                <p>04/11/2019   ЗРУ-537</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="card">
                            <div class="card-body">
                                <h5>ДАВЛАТ-ХУСУСИЙ ШЕРИКЛИК ТЎҒРИСИДА</h5>
                                <p>04/11/2019   ЗРУ-537</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="card">
                            <div class="card-body">
                                <h5>ДАВЛАТ-ХУСУСИЙ ШЕРИКЛИК ТЎҒРИСИДА</h5>
                                <p>04/11/2019   ЗРУ-537</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="card">
                            <div class="card-body">
                                <h5>ДАВЛАТ-ХУСУСИЙ ШЕРИКЛИК ТЎҒРИСИДА</h5>
                                <p>04/11/2019   ЗРУ-537</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>











<script src="../js/jquery-3.3.1.slim.min.js"></script>
<script src="../js/popper.min.js"></script>
<script src="../js/bootstrap.js"></script>
<script src="../js/main.js"></script>
</body>
</html>