<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>“Ишга Марҳамат” Мономарказ</title>
    <link rel="stylesheet" href="../css/bootstrap.css">
    <link rel="stylesheet" href="../css/mono.css">

</head>
<body>

<div class="container-fluid">
    <div class="navbar">
        <div class="navbar-brand">
            <img src="../assets/icons/Grb.png" alt="">
            <div class="navbar-text">
                <h5>Қашқадарё вилояти</h5>
                <h4>Бандлик бош бошқармаси</h4>
            </div>
        </div>
        <div class="menu-btn"></div>
        <ul class="nav">
            <div class="nav-text1 d-flex align-items-center">
                <li class="nav-item"><a href="#" class="nav-link"><img src="../assets/icons/phone.svg" alt="error"></a>
                </li>
                <li class="nav-item"><a href="#" class="nav-link">+998(71) 233-22-00</a></li>
            </div>
            <div class="nav-text2 d-flex align-items-center">
                <li class="nav-item"><a href="#" class="nav-link"><img src="../assets/icons/miniphone.svg" alt="error"></a>
                </li>
                <li class="nav-item"><a href="#" class="nav-link"><img src="../assets/icons/glesses.svg"
                                                                       alt="error"></a></li>
            </div>
            <div class="nav-text3 d-flex align-items-center">
                <li class="nav-item"><a href="#" class="nav-link">рус</a></li>
                <li class="nav-item"><a href="#" class="nav-link">ўзб</a></li>
                <li class="nav-item"><a href="#" class="nav-link">eng</a></li>
                <li class="nav-item"><a href="#" class="nav-link"><img src="../assets/icons/search.svg" alt="error"></a>
                </li>
            </div>
        </ul>
    </div>
    <div class="navbar-menus">
        <ul class="nav">
            <li class="nav-item"><a href="#" class="nav-link">Бошқарма</a></li>
            <li class="nav-item"><a href="#" class="nav-link">Ҳудудий бўлимлар</a></li>
            <li class="nav-item"><a href="#" class="nav-link">Касбга ўқитиш</a></li>
            <li class="nav-item"><a href="#" class="nav-link">Матбуот маркази</a></li>
            <li class="nav-item"><a href="#" class="nav-link">Меъёрий-ҳуқуқий хужжатлар</a></li>
            <li class="nav-item"><a href="#" class="nav-link">Вакансиялар</a></li>
            <li class="nav-item"><a href="#" class="nav-link">Боғланиш</a></li>
        </ul>
    </div>

    <div class="body">
        <div class="body-content"></div>
        <div class="body-text">
            <p>“Ишга Марҳамат” Мономарказ</p>
        </div>
    </div>
    <div class="skills">
        <div class="row">
            <div class="col-9">
                <div class="card">
                    <div class="card-body">
                        <p>“Ўзбекистон Республикаси Иқтисодий тараққиёт ва камбағалликни қисқартириш вазирлиги ҳамда
                            унинг тизим ташкилотлари фаолиятини ташкил этиш тўғрисида” Президент қарори қабул қилинди.
                            <br>
                            <br>
                            Қарорга мувофиқ, камбағал ва ишсиз аҳолини, айниқса, хотин-қизларни ва ёшларни
                            тадбиркорликка кенг жалб қилиш, меҳнат фаоллигини ошириш ва касб-ҳунарга ўқитишга қаратилган
                            чора-тадбирлар тўғрисида қарор лойиҳаси ишлаб чиқилади.
                            <br>
                            <br>

                            Бунда камбағал, ишсиз фуқароларни касб-ҳунарга ва тадбиркорликка ўқитиш маҳалла, туман
                            (шаҳар) ва ҳудуд марказлари даражасида “маҳаллада касб-ҳунарга ўқитиш масканлари – туман
                            касб-ҳунарга ўқитиш марказлари – ҳудуд “Ишга марҳамат” мономарказлари” механизми асосида
                            амалга оширилади.
                            <br>
                            <br>

                            Лойиҳада шунингдек, қуйидагилар назарда тутилади:
                            <br>
                            <br>
                            2020 йил 1 июлга қадар ҳар бир ҳудудда камида биттадан “Энг яхши касбга тайёрлаш дастури”
                            бўйича нодавлат ташкилотлари ўртасида танлов ўтказиш, танлов ғолибларига ўз ишини ташкил
                            қилиш учун грант ажратиш;
                            2020 йил 1 октябрга қадар ҳар бир ҳудудда камида биттадан “Ишга марҳамат” мономарказлари ёки
                            касб-ҳунарга тайёрлаш марказларини ташкил этиш;
                            2020 йил 1 июнга қадар Россия Федерациясининг ўзбекистонлик меҳнат мигрантлари энг кўп
                            фаолият юритаётган ҳудудларини аниқлаб, дастлабки босқичда камида 5 та шаҳарда мигрантларни
                            касбга ўқитиш ва рус тилини ўргатишни ташкил этиш.
                            Қарор билан Иқтисодий тараққиёт ва камбағалликни қисқартириш вазирлиги тўғрисидаги низом
                            тасдиқланди.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script src="../js/jquery-3.3.1.slim.min.js"></script>
<script src="../js/popper.min.js"></script>
<script src="../js/bootstrap.js"></script>
</body>
</html>