<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ДЕҲҚОНОБОД ТУМАНИ КАСБ-ҲУНАРГА ЎҚИТИШ МАРКАЗИ</title>
    <link rel="stylesheet" href="../css/bootstrap.css">
    <link rel="stylesheet" href="../css/section.css">

</head>
<body>
    <div class="container-fluid">
        <div class="navbar">
            <div class="navbar-brand">
                <img src="../assets/icons/Grb.png" alt="">
                <div class="navbar-text">
                    <h5>Қашқадарё вилояти</h5>
                    <h4>Бандлик бош бошқармаси</h4>
                </div>
            </div>
            <div class="menu-btn"></div>
            <ul class="nav">
                <div class="nav-text1 d-flex align-items-center">
                    <li class="nav-item"><a href="#" class="nav-link"><img src="../assets/icons/phone.svg" alt="error"></a></li>
                    <li class="nav-item"><a href="#" class="nav-link">+998(71) 233-22-00</a></li>
                </div>
                <div class="nav-text2 d-flex align-items-center">
                    <li class="nav-item"><a href="#" class="nav-link"><img src="../assets/icons/miniphone.svg" alt="error"></a>
                    </li>
                    <li class="nav-item"><a href="#" class="nav-link"><img src="../assets/icons/glesses.svg"
                                                                           alt="error"></a></li>
                </div>
                <div class="nav-text3 d-flex align-items-center">
                    <li class="nav-item"><a href="#" class="nav-link">рус</a></li>
                    <li class="nav-item"><a href="#" class="nav-link">ўзб</a></li>
                    <li class="nav-item"><a href="#" class="nav-link">eng</a></li>
                    <li class="nav-item"><a href="#" class="nav-link"><img src="../assets/icons/search.svg" alt="error"></a>
                    </li>
                </div>
            </ul>
        </div>
        <div class="navbar-menus">
            <ul class="nav">
                <li class="nav-item"><a href="#" class="nav-link">Бошқарма</a></li>
                <li class="nav-item"><a href="#" class="nav-link">Ҳудудий бўлимлар</a></li>
                <li class="nav-item"><a href="#" class="nav-link">Касбга ўқитиш</a></li>
                <li class="nav-item"><a href="#" class="nav-link">Матбуот маркази</a></li>
                <li class="nav-item"><a href="#" class="nav-link">Меъёрий-ҳуқуқий хужжатлар</a></li>
                <li class="nav-item"><a href="#" class="nav-link">Вакансиялар</a></li>
                <li class="nav-item"><a href="#" class="nav-link">Боғланиш</a></li>
            </ul>
        </div>
        <div class="body">
            <div class="body-content"></div>
            <div class="body-title">
                <div class="body-text">
                    <h5>Деҳқонобод тумани</h5>
                    <h5>касб-ҳунарга ўқитиш маркази</h5>
                </div>
                <div class="body-icon">
                    <img src="../assets/icons/school.svg" alt="error">
                    <p class="text">Қуввати</p>
                    <p>-</p>
                    <p class="number">650</p>
                    <p class="text"> ўқувчи ўрни</p>
                    <img src="../assets/icons/rooby.svg" alt="error">
                    <p class="text">Майдони</p>
                    <p class="number">64425м2</p>

                </div>
            </div>
        </div>
        <div class="skills">
            <div class="row justify-content-center">
                <div class="col-9">
                    <div class="card">
                        <div class="card-body">
                            <div class="skills-info">
                            <div class="people-photo d-flex align-items-center justify-content-center">
                                <img src="../assets/icons/people.svg" alt="error">
                            </div>

                            <div class="skills-text">
                                <h4>Деҳқонобод касб-ҳунарга ўқитиш маркази Директори</h4>
                                <div class="people-name">
                                    <img src="../assets/icons/skelet.svg" alt="error">
                                    <p>Қўзиев Азим Абдуллаевич</p>
                                </div>
                                <div class="people-telnumber">
                                    <img src="../assets/icons/phone.svg" alt="error">
                                    <p>+99897 317-58-66</p>
                                </div>
                            </div>
                        </div>
                            <div class="line"></div>
                            <div class="skills-info">
                                <div class="people-photo d-flex align-items-center justify-content-center">
                                    <img src="../assets/icons/people.svg" alt="error">
                                </div>
                                <div class="skills-text">
                                    <h4>Деҳқонобод касб-ҳунарга ўқитиш маркази Директори</h4>
                                    <div class="people-name">
                                        <img src="../assets/icons/skelet.svg" alt="error">
                                        <p>Қўзиев Азим Абдуллаевич</p>
                                    </div>
                                    <div class="people-telnumber">
                                        <img src="../assets/icons/phone.svg" alt="error">
                                        <p>+99897 317-58-66</p>
                                    </div>
                                </div>
                            </div>
                            <div class="line"></div>
                            <div class="skills-info">
                                <div class="people-photo d-flex align-items-center justify-content-center">
                                    <img src="../assets/icons/people.svg" alt="error">
                                </div>
                                <div class="skills-text">
                                    <h4>Деҳқонобод касб-ҳунарга ўқитиш маркази Директори</h4>
                                    <div class="people-name">
                                        <img src="../assets/icons/skelet.svg" alt="error">
                                        <p>Қўзиев Азим Абдуллаевич</p>
                                    </div>
                                    <div class="people-telnumber">
                                        <img src="../assets/icons/phone.svg" alt="error">
                                        <p>+99897 317-58-66</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>




























    </div>
    <script src="../js/jquery-3.3.1.slim.min.js"></script>
    <script src="../js/popper.min.js"></script>
    <script src="../js/bootstrap.js"></script>
</body>
</html>