<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ҳудудий бўлимлар</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.css">
    <link rel="stylesheet" href="../css/bootstrap.css">
    <link rel="stylesheet" href="../css/divi.css">
</head>
<body>

    <div class="container-fluid">
        <div class="navbar">
            <div class="navbar-brand">
                <img src="../assets/icons/Grb.png" alt="error">
                <div class="navbar-text">
                    <h5>Қашқадарё вилояти</h5>
                    <h4>Бандлик бош бошқармаси</h4>
                </div>
            </div>
            <div class="menu-btn" id="menu"></div>
            <ul class="nav" id="nav-menu">
                <div class="nav-text1 d-flex align-items-center">
                    <li class="nav-item"><a href="#" class="nav-link"><img src="../assets/icons/phone.svg" alt="error"></a></li>
                    <li class="nav-item"><a href="#" class="nav-link">+998(71) 233-22-00</a></li>
                </div>
                <div class="nav-text2 d-flex align-items-center">
                    <li class="nav-item"><a href="#" class="nav-link"><img src="../assets/icons/miniphone.svg" alt="error"></a></li>
                    <li class="nav-item"><a href="#" class="nav-link"><img src="../assets/icons/glesses.svg" alt="error"></a></li>
                </div>
                <div class="nav-text3 d-flex align-items-center">
                    <li class="nav-item"><a href="#" class="nav-link">рус</a></li>
                    <li class="nav-item"><a href="#" class="nav-link">ўзб</a></li>
                    <li class="nav-item"><a href="#" class="nav-link">eng</a></li>
                    <li class="nav-item"><a href="#" class="nav-link"><img src="../assets/icons/search.svg" alt="error"></a></li>
                </div>
            </ul>
        </div>
        <div class="navbar-menus" id="nav">
            <ul class="nav">
                <li class="nav-item"><a href="#" class="nav-link">Бошқарма</a>

                    <ul class="nav">
                        <li class="nav-item"><a href="#" class="nav-link">Бошқарма ҳақида</a></li>
                        <li class="nav-item"><a href="#" class="nav-link">Раҳбарият</a></li>
                        <li class="nav-item"><a href="#" class="nav-link">Ҳодимлар</a></li>
                        <li class="nav-item"><a href="#" class="nav-link">Бошқарма тузилмаси</a></li>
                        <li class="nav-item border-bottom-0"><a href="#" class="nav-link">Фаолият йўналишлари</a></li>
                    </ul>
                </li>
                <li class="nav-item"><a href="#" class="nav-link">Ҳудудий бўлимлар</a>
                    <ul class="nav">
                        <li class="nav-item h-100"><a href="#" class="nav-link h-100">“Ишга Марҳамат” Мономарказ</a></li>
                        <li class="nav-item h-100"><a href="#" class="nav-link h-100">KOICA</a></li>
                        <li class="nav-item border-bottom-0"><a href="#" class="nav-link h-100">Деҳқонобод тумани касб-ҳунарга ўқитиш маркази</a></li>
                    </ul>

                </li>
                <li class="nav-item"><a href="#" class="nav-link">Касбга ўқитиш</a></li>
                <li class="nav-item"><a href="#" class="nav-link">Матбуот маркази</a>
                    <ul class="nav">
                        <li class="nav-item"><a href="#" class="nav-link">Янгиликлар</a></li>
                        <li class="nav-item"><a href="#" class="nav-link">Фотогалерия</a></li>
                        <li class="nav-item border-bottom-0"><a href="#" class="nav-link">Видеогалерия</a></li>
                    </ul>
                </li>
                <li class="nav-item"><a href="#" class="nav-link">Меъёрий-ҳуқуқий хужжатлар</a>
                    <ul class="nav">
                        <li class="nav-item"><a href="#" class="nav-link">Ўзбекистон Республикаси қонунлари</a></li>
                        <li class="nav-item"><a href="#" class="nav-link">Ўзбекистон Республикаси Президенти Фармон ва Қарорлари</a></li>
                        <li class="nav-item"><a href="#" class="nav-link">Ўзбекистон Республикаси Вазирлар Маҳкамаси  Қарорлари</a></li>
                        <li class="nav-item border-bottom-0"><a href="#" class="nav-link">Ўзбекистон Республикаси Бандлик ва меҳнат муносабатлари вазирлиги меъёрий хужжатлари</a></li>
                    </ul>
                </li>
                <li class="nav-item"><a href="#" class="nav-link">Вакансиялар</a></li>
                <li class="nav-item"><a href="#" class="nav-link">Боғланиш</a>
                    <ul class="nav">
                        <li class="nav-item"><a href="#" class="nav-link">Қарши шаҳри</a></li>
                        <li class="nav-item"><a href="#" class="nav-link">Шаҳрисабз шаҳри</a></li>
                        <li class="nav-item"><a href="#" class="nav-link">Ғузор тумани</a></li>
                        <li class="nav-item"><a href="#" class="nav-link">Деҳқонобод тумани</a></li>
                        <li class="nav-item"><a href="#" class="nav-link">Касби тумани</a></li>
                        <li class="nav-item"><a href="#" class="nav-link">Китоб тумани</a></li>
                        <li class="nav-item"><a href="#" class="nav-link">Косон тумани</a></li>
                        <li class="nav-item"><a href="#" class="nav-link">Қамаши тумани</a></li>
                        <li class="nav-item"><a href="#" class="nav-link">Қарши тумани</a></li>
                        <li class="nav-item"><a href="#" class="nav-link">Миришкор тумани</a></li>
                        <li class="nav-item"><a href="#" class="nav-link">Муборак тумани</a></li>
                        <li class="nav-item"><a href="#" class="nav-link">Нишон тумани</a></li>
                        <li class="nav-item"><a href="#" class="nav-link">Чироқчи тумани</a></li>
                        <li class="nav-item"><a href="#" class="nav-link">Шаҳрисабз тумани</a></li>
                        <li class="nav-item border-bottom-0"><a href="#" class="nav-link">Яккабоғ тумани</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="body">
            <div class="dropdown">
<!--                <div class="dropdown-next">-->
<!--                    <img src="../assets/icons/prev.svg" alt="error" id="prev">-->
<!--                    <img src="../assets/icons/dropdown-next.svg" alt="error" id="next">-->
<!--                </div>-->
            </div>
            <div class="body-content" id="dropdown"></div>
            <p>Ҳудудий бўлимлар</p>
        </div>
        <div class="skills">
            <div class="skills-next d-flex align-items-center" id="dropdawn">
                <p>Барча ҳудудий бўлимлар</p>
                <img src="../assets/icons/next.svg" alt="error">
            </div>
            <div class="row">
                <div class="col-6">
                    <div class="card">
                        <div class="card-body">
                            <div class="card-photo"></div>
                            <div class="people-info ml-5">
                                <div class="skills-title">
                                    <h4>Қарши</h4>
                                    <h5>шаҳри</h5>
                                </div>
                                <div class="skills-info">
                                    <div class="d-flex align-items-center">
                                        <img src="../assets/icons/skelet.svg" alt="error">
                                        <p>Узаков Дилшод Серабович</p>
                                    </div>
                                    <div class="d-flex align-items-center">
                                        <img src="../assets/icons/navigation.svg" alt="error">
                                        <p>Қашқадарё вилояти, Қарши шаҳри, Хонобод кўчаси, 46 уй</p>
                                    </div>
                                    <div class="d-flex align-items-center">
                                        <img src="../assets/icons/phone.svg" alt="error">
                                        <p>+99893 900-80-09</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="card">
                        <div class="card-body d-flex align-items-center">
                            <div class="card-photo"></div>
                            <div class="people-info ml-5">
                                <div class="skills-title">
                                    <h4>Қарши</h4>
                                    <h5>шаҳри</h5>
                                </div>
                                <div class="skills-info">
                                    <div class="d-flex align-items-center">
                                        <img src="../assets/icons/skelet.svg" alt="error">
                                        <p>Узаков Дилшод Серабович</p>
                                    </div>
                                    <div class="d-flex align-items-center">
                                        <img src="../assets/icons/navigation.svg" alt="error">
                                        <p>Қашқадарё вилояти, Қарши шаҳри, Хонобод кўчаси, 46 уй</p>
                                    </div>
                                    <div class="d-flex align-items-center">
                                        <img src="../assets/icons/phone.svg" alt="error">
                                        <p>+99893 900-80-09</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="card">
                        <div class="card-body d-flex align-items-center">
                            <div class="card-photo"></div>
                            <div class="people-info ml-5">
                                <div class="skills-title">
                                    <h4>Қарши</h4>
                                    <h5>шаҳри</h5>
                                </div>
                                <div class="skills-info">
                                    <div class="d-flex align-items-center">
                                        <img src="../assets/icons/skelet.svg" alt="error">
                                        <p>Узаков Дилшод Серабович</p>
                                    </div>
                                    <div class="d-flex align-items-center">
                                        <img src="../assets/icons/navigation.svg" alt="error">
                                        <p>Қашқадарё вилояти, Қарши шаҳри, Хонобод кўчаси, 46 уй</p>
                                    </div>
                                    <div class="d-flex align-items-center">
                                        <img src="../assets/icons/phone.svg" alt="error">
                                        <p>+99893 900-80-09</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="card">
                        <div class="card-body d-flex align-items-center">
                            <div class="card-photo"></div>
                            <div class="people-info ml-5">
                                <div class="skills-title">
                                    <h4>Қарши</h4>
                                    <h5>шаҳри</h5>
                                </div>
                                <div class="skills-info">
                                    <div class="d-flex align-items-center">
                                        <img src="../assets/icons/skelet.svg" alt="error">
                                        <p>Узаков Дилшод Серабович</p>
                                    </div>
                                    <div class="d-flex align-items-center">
                                        <img src="../assets/icons/navigation.svg" alt="error">
                                        <p>Қашқадарё вилояти, Қарши шаҳри, Хонобод кўчаси, 46 уй</p>
                                    </div>
                                    <div class="d-flex align-items-center">
                                        <img src="../assets/icons/phone.svg" alt="error">
                                        <p>+99893 900-80-09</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="card">
                        <div class="card-body d-flex align-items-center">
                            <div class="card-photo"></div>
                            <div class="people-info ml-5">
                                <div class="skills-title">
                                    <h4>Қарши</h4>
                                    <h5>шаҳри</h5>
                                </div>
                                <div class="skills-info">
                                    <div class="d-flex align-items-center">
                                        <img src="../assets/icons/skelet.svg" alt="error">
                                        <p>Узаков Дилшод Серабович</p>
                                    </div>
                                    <div class="d-flex align-items-center">
                                        <img src="../assets/icons/navigation.svg" alt="error">
                                        <p>Қашқадарё вилояти, Қарши шаҳри, Хонобод кўчаси, 46 уй</p>
                                    </div>
                                    <div class="d-flex align-items-center">
                                        <img src="../assets/icons/phone.svg" alt="error">
                                        <p>+99893 900-80-09</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="card">
                        <div class="card-body d-flex align-items-center">
                            <div class="card-photo"></div>
                            <div class="people-info ml-5">
                                <div class="skills-title">
                                    <h4>Қарши</h4>
                                    <h5>шаҳри</h5>
                                </div>
                                <div class="skills-info">
                                    <div class="d-flex align-items-center">
                                        <img src="../assets/icons/skelet.svg" alt="error">
                                        <p>Узаков Дилшод Серабович</p>
                                    </div>
                                    <div class="d-flex align-items-center">
                                        <img src="../assets/icons/navigation.svg" alt="error">
                                        <p>Қашқадарё вилояти, Қарши шаҳри, Хонобод кўчаси, 46 уй</p>
                                    </div>
                                    <div class="d-flex align-items-center">
                                        <img src="../assets/icons/phone.svg" alt="error">
                                        <p>+99893 900-80-09</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>















































<script src="../js/popper.min.js"></script>
<script src="../js/jquery-3.3.1.slim.min.js"></script>
<script src="../js/bootstrap.js"></script>
    <script src="../js/main.js"></script>
</body>
</html>